.links-btn
{
    animation-name: appear;
    animation-duration: 1s;
    transition: all .8s cubic-bezier(0.61, 0.01, 0.02, 0.93);
}
.line-1
{
    animation-name: line-1-appear;
    animation-duration: 2s;
}
.line-2
{
    animation-name: line-2-appear;
    animation-duration: 2s;
}
.button-contain button:hover
{
    transform:scale(110%);
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}
.work, .send, .question, .button-contain button
{
    transition: all .8s cubic-bezier(0.61, 0.01, 0.02, 0.92);
}
.work:hover, .send:hover, .links-btn:hover, .question:hover
{
    transform:scale(125%);
}
.work:active, .send:active, .links-btn:active, .question:active, .button-contain button:active
{
    transform: scale(85%);
    box-shadow: none;
}
.tab a
{
    transition: all .8s cubic-bezier(0.61, 0.01, 0.02, 0.92);
}
.tab
{
    transition: all .1s cubic-bezier(0.14, 0.01, 0.72, 0.99);
}
.info a
{
    transition: all .8s cubic-bezier(0.61, 0.01, 0.02, 0.93);
}
.info a:hover
{
    transform: scale(110%) translateX(5%);
}
@media screen and (min-width:1092px)
{
    .tab:hover
    {
        width: 105px;
        margin-left: -8.5px;
    }
}
@media screen and (max-width:1092px)
{    
    .tab, .tab a
    {
        transition: none;
    }
}
@media screen and (max-width:768px)
{
    .work:hover, .send:hover, .links-btn:hover, .question:hover
    {
        transform: scale(85%);
        box-shadow: none;
    }
}/*
@keyframes wobble
{
    50%
    {
        transform: scale(85%);
    }
    100%
    {
        transform: scale(100%);
    }
}*/
@keyframes line-1-appear
{
    0%,50%
    {
        width: 0px;
        height: 4px;
    }
    100%
    {
        width:  55px;
    }
}
@keyframes line-2-appear
{
    0%,50%
    {
        width: 0px;
        height: 4px;
    }
    100%
    {
        width:  38px;
    }
}
@keyframes appear
{
    from
    {
        width: 10px;
        height: 10px;        
    }
    to
    {
        width: 100px;
        height: 100px;
    }
    0%
    {
        width: 0px;
        height: 0px;
        right: 7.4%;
        top: 9.5%;
    }
    55%
    {
        width: 95px;
        height: 95px;
        right: 5.1%;
        top: 5.1%;
    }
    100%
    {
        width: 100px;
        height: 100px;
        right: 5%;
        top: 5%;
    }
}
@keyframes disappear
{    
    from
    {
        width: 100px;
        height: 100px;
    }
    to
    {
        width: 0px;
        height: 0px;
    }
    100%
    {
        display: none;
    }
}