*
{
    font-family: 'Space Mono', monospace;
}
.textbox
{    
    padding: 10%;
    border-top: none;
    padding-top: 5em;
    height: 90vh;
}
.contact-text
{
    margin-top: 0;
    padding-top: 5em;
    padding-left: 10%;
    min-height: inherit;
}
.work-tab
{
     border-top: none;
}
.home-tab, .contact-tab
{
    border-bottom: var(--thick-border);
}
.contact
{
    padding: 10%;
    padding-top: 6%;
    padding-left: 0;
    display: flex;
    width: 70vw;
}
.form
{
    width: 70vw;
    margin-left: 5%;
}
.info
{
    margin-left: 10%;
}
.form label
{
    font-size: 30px;
    font-weight: bold;
}
.input
{
    display: flex;
    flex-direction: column;
}
.input input::selection
{
    background-color: var(--highlight);
}
.input input[type="text"], .input input[type="email"]
{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 80%;
    font-size: 18px;
    padding-left: 15px;
    border-bottom: 3px solid black;
    margin-bottom: 8%;
    cursor:auto;
    outline: none;
    caret-shape: underscore;
}
.contact-info
{
    display: flex;
    flex-direction: column;
}
.contact-info span
{
    font-size: 25px;
}
.contact-info a
{
    font-size: 22px;
    font-weight: bold;;
    color: black;
}
.social, .location
{
    margin-top: 15%;
}
.info a:hover
{
    color: var(--palette-color-1);
}
.send a
{
    color: black;
    margin-left: .5em;
    font-weight: 600;
    width: max-content;
    font-size: 22px;
    margin-top: -1px;
}
.send svg
{
    width: inherit 85%;
    margin-left: 5px;
    height: auto;
}
.credit-contain a
{
    font-family: 'Roboto Mono', monospace;
}
.links-btn
{
    width: 0;
    height: 0;
    animation-name: disappear;
    animation-duration: 2s;
}
.line-contain, .line
{
    display: none;
}
.active
{
    border-left: 2px dashed black;
}
@media screen and (min-width:768px)
{
    .social-small, .bottom-socials-span
    {
        display: none;
    }
}
@media screen and (max-width:768px)
{
    .contact-text
    {
        height: auto;
        margin-top: 5%;
        margin-left: -5%;
        height: auto;
    }
    .tab
    {
        border-right: none;
        border-bottom: var(--thin-border);
    }
    .form label, .contact-info a
    {
        font-size: 18px;
    }
    .textbox
    {    
        padding: 7%;
        border-top: none;
        padding-top: 5em;
        height: auto;
    }
    .active{
        border-left: var(--thin-border);
        text-align: center;
        border-bottom: var(--dashed-border);
    }
    .contact-info span
    {
        font-weight: bold;
    }
    .contact-info a
    {
        font-weight: normal;
    }
    .social
    {
        display: none;
    }
    .bottom-socials-span
    {
        margin-left: 2.5%;
        font-size: 25px;
        font-weight: bold;
    }
    .social-small
    {
        margin-left: 2.5%;
        margin-bottom: 10%;
        width: 85vw;
    }
    .social-small a
    {
        color: black;
        font-size: 18px;
        margin-right: 10px;
        flex-wrap: wrap;
    }
    .contact
    {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 680px)
{
    .contact
    {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
    .info
    {
        margin: 5%;
    }
}
@media screen and (max-width: 520px)
{
    .input input[type="text"], .input input[type="email"]
    {
        border-bottom: var(--thin-border);
    }
    .form
    {
        width: 100vw;
    }
}