*
{
    font-family: 'Space Mono', monospace;
}
.main-contain
{
    height: 92.5vh;
    overflow-y: scroll;
    margin-left: -4px;
}
.active
{
    background-color: rgb(199, 182, 255);
}
.tab a
{
    font-family: 'Roboto Mono', monospace;
}
.category
{
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    text-align: center;
    border-left: none;
    border-top: none;
}
.textbox, .contact-text
{    
    padding: 10%;
    border-top: none;
    padding-top: 5em;
    height: 90vh;
}
.contact-text
{
    padding-top: -20%;
    margin-left: -4px;
    border-bottom: none;
}
.contact
{   
    margin-left: 5%;
    padding: 10%;
    padding-top: 6%;
    padding-left: 0;
    display: flex;
    /*background-color: yellow;*/
    width: 70vw;
}
.form
{
    /*background-color: yellowgreen;*/
    width: 70vw;
    margin-left: 5%;
}
.info
{
    /*background-color: violet;*/
    margin-left: 10%;
}
.contact-text strong
{
    font-size: 55px;
}
.form label
{
    font-size: 30px;
    font-weight: bold;
}
.input
{
    display: flex;
    flex-direction: column;
}
.input input
{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 80%;
    font-size: 18px;
    padding-left: 15px;
    border-bottom: 3px solid black;
    margin-bottom: 8%;
    cursor:auto;
    /*transition: ease-in-out, width .35s ease-in-out;*/
}
.input input:focus
{
    color: black;
    border: none;
    border-bottom: 3px solid black;
}
.contact-info
{
    display: flex;
    flex-direction: column;
}
.contact-info span
{
    font-size: 25px;
}
.contact-info a
{
    font-size: 22px;
    font-weight: bold;;
    color: black;
}
.social, .location
{
    margin-top: 15%;
}
.info a:hover
{
    color: #576CC4;
}
.send
{
    background-color: rgb(205, 188, 255);
    display: flex;
    height: 45px;
    width: fit-content;
    padding: 5px;
    padding-right: 20px;
    margin-bottom: 10%;
    border: 2px solid black;
    font-size: 28px;
    margin-top: 1em;
}
.send:hover
{
    box-shadow: 10px 15px 0px rgb(0, 0, 0);
}
.send img
{
    width: inherit;
}
.send a
{
    color: black;
    margin-left: .5em;
    font-weight: 600;
    width: max-content;
    font-size: 22px;
    margin-top: -1px;
}
.credit-contain a
{
    font-family: 'Roboto Mono', monospace;
}