*
{
    font-family: 'Space Mono', monospace;
}
.textbox
{    
    padding: 10%;
    border-top: none;
    padding-top: 5em;
    height: 90vh;
}
.contact-text
{
    margin-top: 0;
    padding-top: 5em;
    padding-left: 10%;
}
.work-tab
{
     border-top: none;
}
.home-tab, .contact-tab
{
    border-bottom: var(--thick-border);
}
.contact
{
    padding: 10%;
    padding-top: 6%;
    padding-left: 0;
    display: flex;
    width: 70vw;
}
.form
{
    width: 65vw;
    margin-left: 5%;
    margin-right: 5%;
}
.info
{
    margin-left: 10%;
    background-color: var(--background);
    padding-left: 1%;
    margin-left: 1%;
}
.form label
{
    font-size: 30px;
    font-weight: bold;
}
.input, textarea
{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
.input input::selection, textarea::selection
{
    background-color: var(--highlight);
}
.input input[type="text"], .input input[type="email"]
{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 80%;
    font-size: 18px;
    padding-left: 15px;
    border-bottom: 2px solid black;
    margin-bottom: 8%;
    cursor:auto;
    outline: none;
    caret-shape: underscore;
}
textarea
{
    margin-top: 15px;
    max-width: 30vw;
    min-width: 30vw;
    min-height: 45px;
    background-color: transparent;
    max-height: 200px;
    border: none;
    font-size: 18px;
    padding-left: 15px;
    border-bottom: 2px solid black;
    margin-bottom: 8%;
    cursor:auto;
    outline: none;
}
textarea::-webkit-scrollbar
{
    border: 2px solid black;
    border-radius: 5px;
    width: 10px;
}
textarea::-webkit-scrollbar-thumb
{
    border-radius: 5px;
}
.contact-info
{
    display: flex;
    flex-direction: column;
}
.contact-info span
{
    font-size: 25px;
}
.contact-info a
{
    font-size: 22px;
    font-weight: bold;;
    color: black;
}
.social, .location
{
    margin-top: 15%;
}
.info a:hover
{
    color: var(--palette-color-1);
}
.send a
{
    color: black;
    margin-left: .5em;
    font-weight: 600;
    width: max-content;
    font-size: 22px;
    margin-top: -1px;
}
.send svg
{
    margin-left: 5px;
    height: 100%;
    padding: 3%;
}
.credit-contain a
{
    font-family: 'Roboto Mono', monospace;
}
.links-btn
{
    width: 0;
    height: 0;
    animation-name: disappear;
    animation-duration: 2s;
}
.line-contain, .line
{
    display: none;
}
.active
{
    border-left: 2px dashed black;
}
.bottom-socials-span
{
    margin-left: 2.5%;
    font-weight: bold;
}
.form, .info
{
    height: max-content;
}
.input, .contact-info, .social-small, .bottom-socials-span, textarea
{
    background-color: var(--background);
}
@media screen and (min-width:870px)
{
    .social-small, .bottom-socials-span
    {
        display: none;
    }
}
@media screen and (max-width:1041px) and (min-width: 768px)
{
    .contact-contain
    {
        margin-left: 98px;
    }
    .contact-text
    {
        padding-left: 2%;
    }
}
@media screen and (max-width:1200px)
{
    .contact
    {
        width: 90%;
        padding-right: 0;
    }
    .contact-contain
    {
        margin-left: 98px;
    }
    .contact-text
    {
        padding-left: 2%;
    }
    .input input[type="text"], .input input[type="email"], textarea
    {
        font-size: 17px;
    }
}
@media screen and (max-width:970px)
{
    .form label
    {
        font-size: 25px;
    }
    .contact-info span
    {
        font-size: 20px;
    }
    .contact-info a
    {
        font-size: 18px;
    }    
    .input input[type="text"], .input input[type="email"], textarea
    {
        font-size: 15px;
    }
}
@media screen and (max-width:870px)
{
    .contact-contain
    {
        margin-left: 98px;
    }
    .info
    {
        margin: 5%;
    }
    .contact
    {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
    .social
    {
        display: none;
    }
    .contact-text
    {
        padding-left: 1.5em;
    }
    .textbox
    {
        border-top: none;
        height: auto;
    }
    .info, .form
    {
        margin: 1em;
    }
    .bottom-socials-span
    {
        font-size: 20px;
        font-weight: normal;
    }
    .social-small
    {
        margin-left: 20px;
        margin-bottom: 10%;
    }
    .social-small a
    {
        font-size: 18px;
        font-weight: bold;
        color: black;
    }    
}
@media screen and (max-width:768px)
{
    .contact-contain
    {
        margin-left: 0;
    }
    .links-btn
    {
        display: none;
    }
    .contact-text
    {
        padding-left: 10%;
        height: auto;
        margin-top: 5%;
        margin-left: -5%;
        height: auto;
    }
    .tab
    {
        border-right: none;
        border-bottom: var(--thin-border);
    }
    .form label, .contact-info a
    {
        font-size: 18px;
    }
    
    .active{
        border-left: var(--thin-border);
        text-align: center;
        border-bottom: var(--dashed-border);
    }
    .contact-info span, .bottom-socials-span
    {
        font-weight: bold;
        font-size: 20px;
    }
    .contact-info
    {
        width: fit-content;
    }
    .contact-info a
    {
        font-weight: normal;
    }
    .social
    {
        display: none;
    }    
    .social-small
    {
        margin-left: 2.5%;
        margin-bottom: 10%;
        width: fit-content;
    }
    .social-small a
    {
        color: black;
        font-size: 18px;
        margin-right: 10px;
        flex-wrap: wrap;
        font-weight: 100;
    }
    .contact
    {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 520px)
{
    .input input[type="text"], .input input[type="email"], textarea
    {
        border-bottom: var(--thin-border);
    }
    .form
    {
        width: 100vw;
    }
}