*::selection
{
    background: rgb(255, 133, 109);
}
.tablink:hover
{
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}
.main
{
    margin-top: 100vh;
}
.active
{
    color: rgb(112, 19, 4);
    border-bottom: 5px solid rgb(112, 19, 4);
}
.heading
{
    text-align: center;
    background-color: rgb(247, 205, 195);
    background-image: url("assets/design/background.jpg");
    background-size: cover;
    background-position-x:left;
    background-repeat: no-repeat;
    padding-top: 49vh;
    padding-bottom: 49vh;
    font-weight: bold;
    font-size: 40px;
    width: 100vw;
    position: fixed;
    z-index: -5;
}
.heading span
{
    font-weight: bolder;
}
.main
{
    padding-top: 10vh;
    background-color: rgb(255, 196, 184);
}
.box
{
    display: flex;
    margin-left: 26%;
    margin-right: 10%;
    margin-top: 7%;
}
.box img
{
    width: 20vw;
    border: 2px solid black;
}
#label
{
    vertical-align: middle;
    justify-content: center;
    margin-left: 2vw;
}
.title
{
    margin-top: 5%;
    margin-bottom: 1.3%;
}
.title a
{
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.desc
{
    font-size: 18px;
}
@media screen and (max-width:1173px)
{
    .heading
    {
        background-position-x: 2%;
    }
    .box img
    {
        width: 25vw;
        height: auto;
    }
    .title
    {
        margin-top: 5%;
    }
    .title a
    {
        font-size: 21px;
    }
    .desc
    {
        font-size: 15px;
    }
}
@media screen and (max-width:1030px)
{
    .box img
    {
        width: 25vw;
        height: auto;
    }
    .title
    {
        margin-top: 2%;
    }
}
@media screen and (max-width:780px)
{
    .active
    {
        text-decoration: underline;
        text-decoration-color: rgb(236, 39, 0);
    }
    .box
    {
        margin-left: 12%;
    }
    .box img
    {
        height: 150px;
        width: auto;
    }
    .heading
    {
        background-position-x:70%;
    }
    .tablink
    {
        background-color: rgb(215, 114, 99);
    }
    #label
    {
        margin-left: 4vw;
    }
    .active
    {
        background-color: rgb(236, 147, 133);
        border-bottom: none;
    }
}
@media screen and (max-width:560px)
{
    .box
    {
        flex-direction: column;
    }
    .box img
    {
        height: auto;
    }
    #label
    {
        margin-left: 0%;
        margin-top: 4%;
    }
}