*
{
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}
*::selection
{
    background:rgba(86, 67, 255, 0.433);
}
html, body 
{
    max-width: 100%;
    overflow-x: hidden;
}
body
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #baeaff, #87bde7);
    height: 100vh;
    width: 100vw;
}
.go_back
{
    border-radius: 8px;
    background-color: cornflowerblue;
    display: flex;
    z-index: 3;
    margin: 2vh 0vh 0vh 2vh;
    padding: 3px;
    position: absolute;
}
.go_back:hover
{
    box-shadow: rgba(0, 0, 0, 0.038) 0px 0px 15px 15px;
}
.go_back img
{
    width: 34px;
}
.go_back button
{
    font-family: 'Patua One', cursive;
    font-size: 20px;
    background-color:rgba(128, 255, 0, 0);
    border: none;
}
.subwrapper
{
    margin-top: 8%;
    margin-left: 28%;
    width: 70vw;
}
#crane
{
    width: 60%;
}
.oops
{
    color:rgb(65, 65, 65);
    font-size: 150px;
}
#text
{
    text-align: left;
    margin-left: 9%;
    justify-content: center;
    vertical-align: middle;
    margin-top: -15%;
    z-index: 5;
}
#maintext
{
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Patua One', cursive;
}
@media screen and (max-width:1455px)
{
    #crane
    {
        height: 60vh;
        width: auto;
    }
    #text
    {
        margin-top: -15%;
        margin-left: 6%;
    }
}
@media screen and (max-width:1329px)
{
    .oops
    {
        font-size: 120px;
    }
    #crane
    {
        height: 55vh;
        width: auto;
        margin-left: 5%;
    }
    #text
    {
        margin-top: -15%;
    }
    #maintext
    {
        font-size: 40px;
    }
}
@media screen and (max-width:1069px)
{
    .subwrapper
    {
        margin-top: 15%;
        margin-left: 25%;
    }
    .oops
    {
        font-size: 100px;
    }
    #maintext
    {
        font-size: 30px;
    }
    #crane
    {
        height: 50vh;
        width: auto;
        margin-left: 1%;
    }
    #text
    {
        margin-top: -15%;
    }
}
@media screen and (max-width:921px)
    {
        .subwrapper
        {
            margin-right: 0;
            margin-left: 20%;
        }
        #crane
        {
            height: 50vh;
            width: auto;
            margin-left: -5%;
        }
        #text
        {
            margin-top: -15%;
        }
    }
@media screen and (max-width:795px)
{
    #crane
    {
        height: 42vh;
    }
    .oops
    {
        font-size: 85px;
    }
    #crane
        {
            margin-left: -2%;
        }
    #text
    {
        margin-top: -15%;
    }
}
@media screen and (max-width:685px)
{
    .subwrapper
    {
        margin-left: 10vw;
        position: relative;
        height: auto;
    }
    #text
    {
        margin-top: 1%;
    }
}
@media screen and (max-width:597px)
{
    body
    {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
    .go_back
    {
        margin-left: -1%;
        margin-top: 10%;
        width: fit-content;
        position: relative;
    }
    #text
    {
        margin-left: 0;
    }
    #maintext
    {
        font-size: 25px;
    }
    #crane
    {
        width: inherit;
        height: auto;
    }
}
@media screen and (max-width:510px)
{
    #crane
    {
        margin-top: 28%;
    }
    #text
    {
        margin-left: 2%;
    }
    .oops
    {
        font-size: 60px;
    }
    #maintext
    {
        font-size: 18px;
    }
}
@media screen and (max-width:350px)
{
    #crane
    {
        margin-top: 18%;
    }
    .oops
    {
        font-size: 60px;
    }
    #maintext
    {
        font-size: 20px;
    }
    #text
    {
        margin-left: 5%;
    }
}