*
{
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}
html, body 
{
    max-width: 100%;
    overflow-x: hidden;
}
body
{
    background-color: rgba(140, 163, 243, 0.433);
}
.wrapper
{
    position: absolute;
    margin-top: 8%;
    margin-left: 28%;
    width: 70vw;
}
#crane
{
    width: 60%;
}
.oops
{
    font-size: 150px;
}
#text
{
    text-align: left;
    position: absolute;
    margin-left: 9%;
    margin-top: 25%;
    z-index: 5;
}
#maintext
{
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Patua One', cursive;
}
@media screen and (max-width:1455px)
{
    #crane
    {
        height: 60vh;
        width: auto;
    }
    #text
    {
        margin-top: 30%;
        margin-left: 6%;
    }
}
@media screen and (max-width:1329px)
{
    .oops
    {
        font-size: 120px;
    }
    #text
    {
        margin-top: 38%;
    }
    #maintext
    {
        font-size: 40px;
    }
}
@media screen and (max-width:1069px)
{
    .wrapper
    {
        margin-top: 15%;
        margin-left: 25%;
    }
    .oops
    {
        font-size: 100px;
    }
    #maintext
    {
        font-size: 30px;
    }
    #crane
    {
        height: 50vh;
        width: auto;
    }
    #text
    {
        margin-top: 40%;
    }
    
}
@media screen and (max-width:921px)
    {
        .wrapper
        {
            margin-right: 0;
            margin-left: 20%;
        }
        #crane
        {
            height: 50vh;
            width: auto;
        }
        #text
        {
            margin-top: 45%;
        }
    }
@media screen and (max-width:795px)
{
    #crane
    {
        height: 42vh;
    }
    .oops
    {
        font-size: 85px;
    }
    #text
    {
        margin-top: 50%;
    }
}
@media screen and (max-width:685px)
{
    .wrapper
    {
        margin-left: 10vw;
        position: relative;
        height: auto;
    }
    #text
    {
        margin-top: 1%;
    }
}
@media screen and (max-width:597px)
{
    #crane
    {
        margin-top: 20%;
        width: inherit;
        height: auto;
    }
}
@media screen and (max-width:510px)
{
    #crane
    {
        margin-top: 28%;
    }
}
@media screen and (max-width:350px)
{
    #crane
    {
        margin-top: 40%;
    }
    .oops
    {
        font-size: 60px;
    }
    #maintext
    {
        font-size: 20px;
    }
}