*
{
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}
body
{
    background-color: rgba(140, 163, 243, 0.433);
}
.wrapper
{
    position: absolute;
    margin-top: 8%;
    margin-left: 28%;
    width: 70vw;
    /*background-color: rgb(0, 70, 70);*/
}
#crane
{
    width: 60%;
}
#text
{
    text-align: left;
    position: absolute;
    margin-left: 9%;
    margin-top: 25%;
    font-size: 150px;
    z-index: 5;
}
#maintext
{
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Patua One', cursive;
}