*::selection
{
    background:rgb(34, 216, 76);
}
.active
{
    color: rgb(4, 91, 52);
    font-weight: bolder;
    text-decoration: none;
    border-bottom: 5px solid rgb(4, 91, 52);
}
.top
{
    text-align: center;
    background-image: url("assets/gamedev/background.jpg");
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    padding-top: 49vh;
    padding-bottom: 49vh;
    font-weight: bold;
    font-size: 40px;
    width: 100vw;
    position: fixed;
    z-index: -5;
}
#text
{
    padding-left: 26%;
}
#thumbnail
{
    border: 2px solid black;
    width: 400px;
}
.label_box
{
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}
.main
{
    overflow-y: hidden;
    height: auto;
    margin-top: 100vh;
    background-color: rgb(164, 207, 176);
    padding-top: 5vh;
    overflow-y: hidden;
}
.github
{
    display: flex;
    font-weight: bold;
    color: black;
    text-decoration: none;
    width:19vw;
    padding-top: 2%;
    align-items: center;
}
.github:hover
{
    text-decoration: underline;
}
.github img
{
    padding-left: 3%;
    width: 20px;
}
#top_desc
{
    width: 50vw;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 2vw;
    margin-top: 5vw;
}
@media screen and (max-width: 1702px)
{
    .top
    {
        background-position-x: right;
    }
    #top_desc
    {
        font-size: 23px;
    }
    .label_box
    {
        width: 450w;
    }
    .heading
    {
        font-size: 19px;
    }
    #about_heading
    {
        font-size: 16px;
    }
    #thumbnail
    {
        width: 25vw;
        height: auto;
    }
}
@media screen and (max-width: 1173px)
{
    #top_desc
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 1030px)
{
    .heading
    {
        font-size: 17px;
    }
    #about_heading
    {
        font-size: 14px;
    }
    .github
    {
        width: 25vw;
    }
}
@media screen and (max-width: 780px)
{
    .tablink
    {
        background-color: rgb(87, 155, 115);
    }
    #thumbnail
    {
        width: 36vw;
    }
    .active
    {
        background-color: rgb(118, 193, 150);
        border-bottom: none;
    }
    .label_box
    {
        width: 81vw;
    }
    #text
    {
        padding-left: 10%;
    }
    #top_desc
    {
        width: 80vw;
    }
}
@media screen and (max-width: 688px)
{
    .github
    {
        width: 50vw;
    }
}
@media screen and (max-width: 560px)
{
    #thumbnail
    {
        width: 82vw;
    }
    .label_box
    {
        padding-left: 1%;
        padding-top: 5%;
        width: 82vw;
    }
    .heading
    {
        font-size: 20px;
    }
    #about_heading
    {
        font-size: 17px;
    }
    .github
    {
        width: 60vw;
    }
    #extra
    {
        padding-top: 10%;
    }
}
@media screen and (max-width: 410px)
{
    #top_desc
    {
        font-size: 19px;
    }
    .heading
    {
        font-size: 16px;
    }
    #about_heading
    {
        font-size: 15px;
    }
}
@media screen and (max-width: 400px)
{
    .github
    {
        margin-bottom: 6vh;
    }
}