body
{
    scroll-margin: 10%;
}
*::selection
{
    background:rgb(242, 214, 56);
}
.heading
{
    text-align: center;
    background-image: url("assets/illustrations/Face_poly.jpg");
    background-size: 100vw;
    background-position: 0%;
    background-position-x: left;
    background-repeat: no-repeat;
    padding-top: 49vh;
    padding-bottom: 49vh;
    font-weight: bold;
    font-size: 40px;
    width: 100vw;
    position: fixed;
    z-index: -5;
}
.heading span
{
    font-weight: bolder;
}
.active
{
    color:rgb(103, 72, 0); 
    font-weight: bolder;
    border-bottom: 5px solid rgb(103, 72, 0);
}
.main
{
    overflow-y: hidden;
    height: auto;
    margin-top: 100vh;
    background-color: rgb(200, 191, 175);
}
.year_wrapper
{
    width: 24vw;
    border-bottom: 3px solid rgb(103, 72, 0);
    margin-left: -3%;
}
#twenty
{
    margin-top: 11%;
}
#i_year
{
    color:  rgb(103, 72, 0);
    font-size: 35px;
    width: 50vw;
}
#wrapper
{
    margin-top: 7%;
    width: 55vw;
    height: auto;
    display: flex;
}
.subwrapper
{
    color: rgba(0, 0, 0, 0);
    margin-right: 3%;
    width: 30%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.link
{
    width: 100%;
    height: auto;
    margin-bottom: 9%;
    border-radius: 7px;
}
.link:hover
{
    box-shadow: rgba(0, 0, 0, 0.038) 0px 0px 15px 15px;
}
@media screen and (max-width:1030px)
{
    .heading
    {
        background-position-x: right;
        background-size: cover;
    }
    #wrapper
    {
        margin-left: 8%;
        width: 66vw;
        height: auto;
        display: flex;
    }
}
@media screen and (max-width:780px)
{
    .tablink
    {
        background-color: rgb(184, 157, 110);
    }
    .active
    {
        background-color: rgb(203, 180, 139);
        border-bottom: none;
    }
    #wrapper
    {
        
        margin-left: -4%;
        margin-top: 7%;
        width: 85vw;
        height: auto;
        display: flex;
    }
    #i_year
    {
        font-size: 28px;
    }
}
@media screen and (max-width: 560px)
{
    #wrapper
    {
        width: 80vw;
        flex-direction: column;
    }
    .subwrapper
    {
        width: 80vw;
    }
    .heading span
    {
        font-size: 35px;
    }
}
@media screen and (max-width: 490px)
{
    .heading
    {
        background-position-x: 80%;
    }
    #i_year
    {
        font-size: 25px;
    }
}
@media screen and (max-width: 400px)
{
    #wrapper
    {
        width: 80vw;
        flex-direction: column;
    }
    .subwrapper
    {
        width: 80vw;
    }
    .heading span
    {
        font-size: 30px;
    }
}
@media screen and (max-width: 332px)
{
    #i_year
    {
        font-size: 20px;
    }
    .heading span
    {
        font-size: 25px;
    }
}