body
{
    scroll-margin: 10%;
}
.static_heading
{
    text-align: center;
    background-image: url("assets/Face_poly.jpg");
    background-size: 100vw;
    background-position: 0%;
    background-repeat: no-repeat;
    padding-top: 49vh;
    padding-bottom: 49vh;
    font-weight: bold;
    font-size: 40px;
    width: 100vw;
    position: fixed;
    z-index: -5;
}
.main
{
    overflow-y: hidden;
    height: auto;
    margin-top: 100vh;
    background-color: rgb(200, 191, 175);
}
.year_wrapper
{
    width: 24vw;
    border-bottom: 3px solid rgb(103, 72, 0);
    margin-left: -3%;
}
#i_year
{
    color:  rgb(103, 72, 0);
    font-size: 35px;
    width: 50vw;
}
.active
{
    border-bottom: 5px solid rgb(103, 72, 0); 
}
#wrapper
{
    margin-top: 7%;
    width: 55vw;
    height: auto;
    /*background-color: rgb(255, 247, 0);*/
    display: flex;
}
.subwrapper
{
    color: rgba(0, 0, 0, 0);
    /*background-color: coral;*/
    margin-right: 3%;
    width: 30%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.link
{
    width: 100%;
    height: auto;
    margin-bottom: 9%;
    border-radius: 7px;
}
.link:hover
{
    box-shadow: rgba(0, 0, 0, 0.038) 0px 0px 15px 15px;
}
/*#wrapper
{
    width: 50vw;
    height: auto;
    background-color: rgba(255, 99, 71, 0.165);
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}*/
