.home-contain, .home-contain-div
{
    border-top: none;
    border-bottom: none;
}
.home-contain
{
    margin-left: 94px;
    display: flex;
    height: 100%;
}
.intro
{
    background-image: url("assets/home/red-star-shape.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: -40%;
    background-position-y: -30%;
    width: 50vw;
    padding-top: 5%;
    padding-left: 3%;
    line-height: 75px;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro-2
{
    background-image: url("assets/home/blue-star-shape.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right;   
    background-position-x: 180%; 
    background-position-y: -20%; 
    background-origin: bottom;
}
.intro span
{
    font-size: 50px;
}
#name
{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size:  70px;
}

.home-tab.active
{
    border-bottom: var(--thick-border);
    background-color: var(--palette-color-2);    
    border-top: var(--thick-border);
}
.about-tab.active
{
    border-bottom: var(--thick-border);
    background-color: var(--palette-color-2);
    border-top: var(--thick-border);
}
.about-tab
{
    border-bottom: none;
}
.buttons
{
    display: flex;
}
.work-head, .question
{
    margin-top: 15%;
}
.question
{
    width: 45px;
    height: 45px;
    margin-left: 60px;
    border-radius: 55px;
    padding: auto;
    cursor: default;
    animation-name: question-slide;
    animation-duration: 2s;
    align-items: center;
    text-align: center;
    /*todo slide*/
}
.button:hover
{
    box-shadow: 10px 15px 0px rgb(0, 0, 0);
}
.work-1, .work-2, .work-3/*fix this*/
{
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}
.work a
{
    font-size: 22px;
    margin-top: -1px;
}
.work img
{
    height: 100%;
    padding: 1%;
}
.work-1, .work-3
{
    float: right;
}
.face
{
    background-image: url("assets/home/Face1.jpg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 60%;
    background-color: var(--palette-color-2);
    background-origin: border-box;
    margin-left: -3px;
    width: 50vw;
    border-left: var(--thick-border);
    border-right: none;
    display: flex;
    justify-content:flex-end;
    align-items:end;
}
.me
{
    position: relative;
    background-color: var(--background);
    width:fit-content;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: black;
    padding: 1%;
    border-radius: 55px;
    border: var(--thin-border);
    bottom: 23%;
    right: 8%;
    cursor: default;
}
.me img
{
    width: 32px;
    height: 32px;
    border-radius: 55px;
    background-color: var(--gamedev-tab);
    border: var(--thin-border);
    padding: 2%;
    margin-right: 10px;
}
.category
{    
    font-size: 50px;
    text-align: center;
    border-left: none;
    border-right: none;
}
.about
{
    border-top: var(--thick-border);
}
.about-contain
{
    margin-top: -4px;
    margin-left: -4px;
    margin-left: 95px;
    border-left: none;
    border-top: none;
}
.image-1
{
    /* background-image: url("assets/home/hash-pattern.jpg"); */
    width: 200%;
    background-color: #ff6a0043;
}
.image-2
{
    background-image: url("assets/home/illustrations-collection.png");
    background-position: 50%;
    background-repeat: no-repeat;
    width: 120%;
}
.image-3
{
    /*background-image: url("assets/gamedev/cube_simulator.gif");*/
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    mix-blend-mode:multiply;
}
.about-1, .about-2
{
    border-bottom: var(--thick-dashed-border) black;
}
.about-text, .skills-text
{
    margin-top: -4px;
    margin-left: -4px;
    display: flex;
}
.textbox, .skillsbox
{
    padding: 9%;
    padding-top: 6%;
    padding-bottom: 3%;
}
.textbox-2, .textbox-3
{
    width: 130%;
}
.rotate-about
{
    rotate: -5deg;    
}
.home-about span
{
    font-family: 'Courier Prime', monospace;
    font-weight: 600;
    font-size: 45px;
}
.num, #head
{
    margin-left: -65px;
}
.num
{
    font-size: 40px;
    margin-bottom: 1em;
}
.num strong
{
    box-shadow: 10px 15px 0px rgb(0, 0, 0);
    border: 3px solid black;
    padding: .2em;
}
.num-1 strong
{
    background-color: #fdb480;
}
.num-2 strong
{
    background-color: rgb(137, 175, 255);
}
.num-3 strong
{
    background-color: #91d572;
}
#head
{
    font-size: 30px;
}
.para
{
    margin-top: 10%;
    font-size: 26px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    line-height: 247.4%;
}
.para-1, .para-3
{
    text-align: end;
}
.skills-box
{
    padding-top: 10%;
    padding-left: 15%;
    padding-bottom: 10%;
    font-size: 55px;
    font-weight: 800;
}
.skills-text
{
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.head
{
    font-weight: 600;
    font-size: 38px;
    margin-left: -2%;
}
.head-2, .head-3
{
    margin-top: 10%;
}
.sect
{    
    margin-top: 4%;
    width: 70vw;
    justify-content: center;
    align-items: center;
}
.sect span
{
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
}
progress
{
    float: right;
    width: 50vw;
    height: 25px;
    border-radius: 0px;
}
.info
{
    display: flex;
    justify-content: space-between;
}
.scissors
{
    float: right;
    z-index: 10;
    margin-top: -13em;
    rotate: -90deg;
    height: 30px;
    background-color: #f4f1ea;
    margin-right: 10%;
}
@media screen and (min-width:1041px) 
{    
    .face-small
    {
        display: none;
    }
}
@media screen and (max-width:1560px)
{
    #name
    {
        font-size: 50px;
    }
} 
@media screen and (max-width:1440px) 
{
    #name
    {
        font-size: 55px;
    }
    .rotate-about span
    {
        font-size: 35px;
    }
    .category
    {
        font-size: 45px;
    }
    .num
    {
        font-size: 37px;
        margin-bottom: 1em;
    }
    .image-1
    {
        width: 300%;
    }
    .work-1 a, .work-2 a, .work-3 a
    {
        width: max-content;
        font-size: 20px;
        margin-top: -1px;
    }
    .para
    {
        margin-top: 10%;
        font-size: 22px;
        line-height: 200%;
    }
    .intro-1 span
    {
        font-size: 45px;
    }
}
@media screen and (max-width:1200px)
{
    .active
    {
        border-left: 2px dashed black;
    }
}

@media screen and (max-width:1041px) 
{
    .me
    {
        display: none;
    }
    .face
    {
        background-image: url("assets/home/patterns.png");
        background-origin: border-box;
        background-size: 100%;
        background-color: var(--baackground);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face-small
    {
        border: var(--thin-border);
    }
    .home-contain
    {
        width: 100vw;
        height: 80vh;        
        height: auto;
        flex-direction: column-reverse;
    }
    .home-tab
    {
        border-left: 3px solid black;
    }
    .intro
    {
        width: 100%;
        margin-left: -3px;
        border-right: none;
    }
    .face
    {
        width: 100%;/*set background from bottom*/
        border-left: none;
    }
    .active
    {
        border-left: var(--dashed-border);
    }
    .about-text
    {
        flex-direction: column;
    }
    .about-2
    {
        flex-direction: column-reverse;
    }
    .image
    {
        height: 40vh;
        margin-top: 3px;
        width: 100%;
    }
    .image-1
    {
        border-bottom: 3px solid black;
    }
    .textbox-num
    {
        display: none;
    }
    .para
    {
        margin-top: 0;
        font-size: 22px;
        text-align: left;
    }
    .textbox
    {
        width: 100%;
    }
    .skills-text
    {
        border-top: none;
    }
    .skills-box
    {
        padding: 10%;
    }
    .info
    {
        width: 107%;
        height: auto;
        vertical-align: middle;
    }
    .info span
    {
        font-size: 22px;
    }
    progress
    {
        float: right;
        width: 50%;
        height: .4em;
        border-radius: 0px;
    }
    .work-1, .work-3
    {
        float: left;
    }
    .head
    {
        font-size: 30px;
    }
    .para
    {
        font-size: 18px;
    }
    .face
    {
        height: 35vh;
        align-self: flex-start;
    }
    .intro
    {
        height: 60vh;
    }
    .face img
    {
        max-width: 30vw;
        margin-bottom: -20em;
        border-radius: 55%;
    }    
    .intro
    {
        padding-left: 8%;
        padding-top: 25%;
        padding-bottom: 2%;
        line-height: 50px;
    }
    .intro-1 span
    {
        font-size: 28px;
    }
    .rotate-about
    {
        rotate: 0deg;
        z-index: 0;
    }
    #name
    {
        font-size: 3em;
    }
}
@media screen and (max-width:1200px) 
{
    progress
    {
        float: right;
        width: 40vw;
        height: 25px;
        border-radius: 0px;
    }
}
@media screen and (max-width:1041px) and (min-width: 520px)
{
    .skill-contain
    {
        margin-left: 98px;
    }
    .face
    {
        text-align: left;
        justify-content: left;
    }
    .face img
    {
        width: 20vw;
        margin-left: 7%;
    }
}
@media screen and (max-width:768px)
{
    .home-contain, .about-contain, .skill-contain
    {
        margin-left: 0;
    }
    .image
    {
        background-size: 50%;
        background-origin: 0;
    }
    .face
    {
        margin-top: 67px;
    }    
    .home-tab, .about-tab.active
    {
        border-left: none;
    }
    .about-tab
    {
        border-bottom: var(--thin-border);
    }    
    .contact-tab, .home-tab, .about-tab, .work-tab
    {
        border-right: none;
    }
    .home-tab.active, .about-tab.active
    {
        border-top: none;
        border-bottom: var(--dashed-border) black;
    }
}
@media screen and (max-width:639px)
{
    .head
    {
        font-size: 23px;
    }
    .info, progress
    {
        height: 21px;
    }
    .info span
    {
        height: 21px;
        font-size: 18px;
    }
}
@media screen and (max-width:520px)
{
    .head
    {
        font-size: 19px;
    }
    .info, progress
    {
        height: 21px;
    }
    .info span
    {
        font-size: 15px;
    }
}
/*height mqs*/