body
{
    background-color: rgb(107, 159, 236);
}
button:hover
{
    text-decoration: underline;
}
.sun
{
    position: fixed;
    z-index: -1;
}
.head
{
    width: 50vw;
    text-align: end;
    font-size: 40px;
}
.sites
{
    margin: 12% -15% 0% 25%;
}
#button_container
{
    flex-direction: row;
    background-color: rgb(204, 187, 161);
    margin: 7% 0% 7% 0%;
    padding: 3%;
    border-radius: 25px;
    border: 3px solid black;
    text-align: center;
}
.active
{
    color: rgb(20, 0, 135); 
    font-weight: bolder;
}
.left
{
    width: fit-content;
    align-items: flex-start;
    background-color: rgb(47, 127, 248);
}
.left img
{
    width: 10%;
    height: auto;
}
.sites a
{
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    color: black;
}
.main
{
    background-color:rgba(0, 0, 0, 0);
}
@media screen and (max-width: 1173px)
{
    .head
    {
        width: 60vw;
        font-size: 30px;
    }
    #button_container
    {
        padding: 4%;
        border-radius: 23px;
    }
}
@media screen and (max-width: 780px)
{
    .head
    {
        width: 70vw;
        font-size: 25px;
    }
    
}
@media screen and (max-width: 700px)
{
    .head
    {
        margin-top: 10%;
        width: 80vw;
        font-size: 25px;
    }
    #button_container
    {
        padding: 4%;
        border-radius: 20px;
    }
}
@media screen and (max-width: 688px)
{
    #button_container
    {
        padding: 4%;
        border-radius: 20px;
        border: 2px solid black;
    }
}
@media screen and (max-width: 560px)
{
    .sites
    {
        margin: 12% -15% 0% 15%;
    }
}
@media screen and (max-width: 490px)
{
    .head
    {
        font-size: 22px;
    }
    .sites
    {
        margin: 12% -20% 0% 9%;
    }
}
@media screen and (max-width: 400px)
{
    .head
    {
        font-size: 18px;
    }
    #textbox
    {
        margin-top: 20%;
    }
}
@media screen and (max-width:322px)
{
    .head
    {
        font-size: 16px;
    }
}