@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
:root
{    
    --scrollbar: #1200359a;
    --background: #f4f1ea;    
    --palette-color-1: #8b79d4;
    --palette-color-2: #cabbff;
    --palette-color-3: #e3ddff;
    --active-tab: #d3c9f5;
    --all-tab: #c1b2ff;
    --design-tab:#f09f9f;
    --illustrations-tab: #9ac9ff;
    --gamedev-tab: #a7d792;
    --experiments-tab: #ffd187;
    --highlight: #f8d040;    
}
*
{
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Space Mono', monospace;
    -webkit-user-select: none;
    user-select: none;
}
html, body
{
    background-color: #f4f1ea;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
a
{
    text-decoration: none;
    cursor: pointer;
}
::-webkit-scrollbar 
{
    width: 8px;
}
::-webkit-scrollbar-thumb
{
    background: var(--scrollbar);
}
.main-contain
{
    height: 92.5vh;
    overflow-y: scroll;
    margin-left: 3px;
}
.links-btn
{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    float: right;
    border-radius: 50%;
    right: 5%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-contain
{
    width: 55px;
    height: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    cursor: pointer;
}
.line
{
    float: right;
    height: 4px;
    background-color: white;
    cursor: pointer;
}
.line-1
{
    width: 55px;
}
.line-2
{
    width: 38px;
}
.links
{
    padding-left: 5%;
    padding-top: 17vh;
    position: absolute;
    background-color: var(--palette-color-1);
    float: right;
    height: 100vh;
    width: 35vw;
    margin-left: 100vw;
}
.links.active
{
    transform: translateX();
    box-shadow: -10px 0px 60px rgba(0, 0, 0, 0.36);
}
.links hr
{
    width: 70%;
    border: 1px solid black;
    margin: 1em 0;
}
.links ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    float: flex-end;
}
.links a
{
    color: black;
    font-size: 28px;
    line-height: 60px;
}
.box
{
    border: 4px solid black;
}
.main
{
    margin: 2%;
}
.main-contain
{
    border-left: none;
}
nav
{
    position: fixed;
    width: 100px;
    height: 90vh;
    margin-top: 3.5px;
}
.tab, .active
{
    background-color: var(--background);
    margin: -3.6%;
    font-size: 30px;
    width: 100px;
    height: 26%;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    rotate: 180deg;
}
.tab:hover
{
    background-color:var(--palette-color-3);
}
.button
{
    background-color: var(--palette-color-2);
    display: flex;
    height: 45px;
    width: fit-content;
    padding: 5px;
    padding-right: 20px;
    margin-bottom: 10%;
    border: 2px solid black;
    font-size: 28px;
    cursor: pointer;
}
.button img
{
    width: inherit;
}
.button a
{
    color: black;
    margin-left: .5em;
    font-weight: 600;
}
.button:hover
{
    box-shadow: 10px 15px 0px rgb(0, 0, 0);
}
.tab a, .active a
{
    font-family: 'Roboto Mono', monospace;
    writing-mode: vertical-rl;
    height: 100%;
    align-self: center;
    color: black;
    line-height: 95px;
}
.active
{
    background-color: var(--active-tab);
    width: 110px;
    margin-left: -14px;
    border-left: 1px dashed black;
}
.active a
{
    cursor:default;
}
.credit
{    
    font-weight: 500;
    border-top: 2px dashed black;
    border-bottom: none;
    border-right: 4px solid black;

}
.credit a
{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: black;
}
.credit a:hover
{
    color: var(--palette-color-1);
}
.credit img
{
    height: 22px;
    margin-right: 1em;
}
.credit-contain
{
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1200px)
{
    .box
    {
        border: 3px solid black;
    }
}
@media screen and (max-width:768px)
{    
    .main
    {
        margin-top: 8%;
    }
    nav
    {
        background-color: var(--background);
        z-index: 5;
        display: flex;
        position: fixed;
        width: 96%;
        height: 15vw;
        padding: 0;
        padding-left: -10%;
        margin-top: -7.5%;
        align-items: end;
        align-self: flex-start;
    }
    .tab, .active
    {
        background-color: var(--background);        
        margin: 0;
        width: 25%;
        rotate: 0deg;
        padding: 5%;
        height: 20%;
    }
    .tab a, .active a
    {
        margin-top: -70px;
        height: 145px;
        line-height: 150%;
        width: 40%;
        margin-left: -5px;
        font-size: 25px;        
        rotate: -90deg;
        align-self: center;
    }
    .active
    {
        background-color: var(--palette-color-2);
        margin-left: 0;
        padding-top: 8%;
        height: 50%;
        border-bottom: 1px dashed black;
    }
    .main-contain
    {
        border-left: 3px solid black;
        border-top: none;
        margin-left: 0;
    }
    .credit
    {
        padding: 4%;
        border-right: 3px solid black;
    }
    .credit a
    {
        font-size: 15px;
    }
}