@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
:root
{    
    --scrollbar: #1200359a;
    --background: #f4f1ea;    
    --palette-color-1: #8b79d4;
    --palette-color-2: #cabbff;
    --palette-color-3: #e3ddff;
    --active-tab: #d3c9f5;
    --all-tab: #c1b2ff;
    --design-tab:#f09f9f;
    --illustrations-tab: #9ac9ff;
    --gamedev-tab: #a7d792;
    --experiments-tab: #ffd187;
    --highlight: #f8d040;
    --thick-border: 3px solid black;
    --thin-border: 2px solid black;    
    --dashed-border: 2px dashed;
    --thick-dashed-border: 3px dashed;
}
*
{
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Space Mono', monospace;
    -webkit-user-select: none;
    user-select: none;    
}
html, body
{
    background-color: #f4f1ea;
    max-width: 100%;
    overflow-x: hidden;
}
a
{
    text-decoration: none;
    cursor: pointer;
}
::-webkit-scrollbar
{
    border: var(--thick-border);
    border-top: none;
    border-bottom: none;
    width: 25px;
}
::-webkit-scrollbar-thumb
{   
    background: var(--scrollbar);
}
.links-btn
{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    float: right;
    border-radius: 50%;
    right: 5%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-contain
{
    width: 55px;
    height: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    cursor: pointer;
}
.contact-tab
{
    border-top: var(--thick-border);
}
.line
{
    float: right;
    height: 4px;
    background-color: white;
    cursor: pointer;
}
.line-1
{
    width: 55px;
}
.line-2
{
    width: 38px;
}
.box
{
    border: var(--thick-border);
}
nav
{
    position: fixed;
    width: 100px;
    height: 92vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    rotate: 180deg;
    margin-left: -2px;
    margin-top: -3px;
    background-color: var(--background);
}
.tab
{
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 94px;
    height: 100%;
    border-bottom: var(--thick-border);
    border-left: var(--thick-border);
    border-right: var(--thick-border);
}
.tab a
{
    text-align: center;    
    font-size: 30px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    color: #000;
    writing-mode: vertical-lr;
    position: relative;
}
.tab:hover
{
    cursor: pointer;
}
.active
{
    background-color: var(--palette-color-2);
    margin-bottom: -1px;
    line-height: 110px;
    border-left: var(--dashed-border);
    width: 115px;
}
.active:hover, .active a:hover
{
    cursor: default;
}
.button
{
    background-color: var(--palette-color-2);
    display: flex;
    height: 45px;
    width: fit-content;
    padding: 5px;
    padding-right: 20px;
    margin-bottom: 10%;
    border: 2px solid black;
    font-size: 28px;
    cursor: pointer;
}
.button img
{
    width: inherit;
}
.button a
{
    color: black;
    margin-left: .5em;
    font-weight: 600;
}
.button:hover
{
    box-shadow: 10px 15px 0px rgb(0, 0, 0);
}
.credit
{    
    font-weight: 500;
    border-top: var(--dashed-border);
    border-bottom: none;
}
.credit a
{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: black;
}
.credit a:hover
{
    color: var(--palette-color-1);
}
.credit img
{
    height: 22px;
    margin-right: 1em;
}
.credit-contain
{
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}
.head-text strong
{
    font-size: 55px;
}
@media screen and (min-width:768px)
{
    .box
    {
        border: var(--thin-border);
    }
    body
    {
        float: bottom;
        border: 3px solid black;
        height: 92vh;
        margin: 2%;
        margin-top: 2%;
        border-right: none;
    }
    .active
    {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
/*@media screen and (min-width:768px) and height*/
@media screen and (max-width:1041px) 
{
    .credit
    {
        border-right: none;
    }
}
@media screen and (max-width:768px)
{
    .box
    {
        border: var(--thin-border);
    }
    .tab a
    {
        writing-mode: horizontal-tb;
    }
    .tab, .active
    {
        height: 70px;
        width: 25%;
    }
    nav
    {
        z-index: 5;
        height: 70px;
        width: 100vw;
        rotate: 0deg;
        flex-direction: row;
        border: none;
    }
    .tab
    {
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: var(--thin-border);
        line-height: 70px;
    }
    .tab a
    {
        width: 98%;
        height: 70px;
    }
    .active
    {       
        border-bottom: var(--dashed-border);
    }
    .head-text, .work-text
    {
        padding-left: 0;
        padding-top: 18%;
        border-right: none;
    }
    .head-text strong
    {
        font-size: 45px;
    }
    .credit
    {
        padding: 5%;
    }
    .credit, .skill-contain, .contact-text, .work-text /*work text needs to be modified in work.css*/
    {
        border-right: none;
    }
}
@media screen and (max-width:639px)
{
    .credit a
    {
        font-size: 16px;
    }
}
@media screen and (max-width:520px)
{
    .tab a, .active a
    {
        font-size: 20px;
    }
    .credit a
    {
        font-size: 14px;
    }
}
@media screen and (max-width:420px)
{
    .tab a, .active a
    {
        font-size: 17px;
    }
    .credit img
    {
        width: 15px;
    }
    .credit a 
    {
        font-size: 12px;
    }
}