@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Space Mono', monospace;
    -webkit-user-select: none;
    user-select: none;
}
body
{
    background-color: #f4f1ea;
}
html, body
{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
::-webkit-scrollbar 
{
    width: 8px;
}
::-webkit-scrollbar-thumb
{
    background: rgba(18, 0, 53, 0.605);
}
a
{
    text-decoration: none;
    cursor: pointer;
}
.main-contain
{
    height: 92.5vh;
    overflow-y: scroll;
    margin-left: 3px;
}
.links-btn
{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    float: right;
    border-radius: 50%;
    right: 5%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-contain
{
    width: 55px;
    height: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    cursor: pointer;
}
.line
{
    float: right;
    height: 4px;
    background-color: #fff;
    cursor: pointer;
}
.line-1
{
    width: 55px;
}
.line-2
{
    width: 38px;
}
.links
{
    padding-left: 5%;
    padding-top: 17vh;
    position: absolute;
    background-color: #b2b7f7;
    float: right;
    height: 100vh;
    width: 35vw;
    margin-left: 100vw;
}
.links.active/*why is this here?*/
{
    /*put something here*/
    transform: translateX();
    box-shadow: -10px 0px 60px rgba(0, 0, 0, 0.36);
}
.links hr
{
    width: 70%;
    border: 1px solid #000000;
    margin: 1em 0;
}
.links ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    float: flex-end;
}
.links a
{
    color: black;
    font-size: 28px;
    line-height: 60px;
}
.box
{
    border: 4px solid black;
}
.main
{
    margin: 2%;
}
.main-contain
{
    border-left: none;
    /*shrink this*/
}
#nav
{
    position: fixed;
    width: 100px;
    height: 90vh;
    margin-top: 3.5px;
}
.tab
{
    background-color: #f4f1ea;  
    margin: -3.6%;
    font-size: 30px;
    width: 100px;
    height: 26%;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    rotate: 180deg;
}
.tab:hover
{
    background-color: rgb(206, 202, 255);
}
.tab a
{
    font-family: 'Roboto Mono', monospace;
    writing-mode: vertical-rl;
    height: 100%;
    align-self: center;
    color: black;
    line-height: 95px;
}
.active
{
    width: 110px;
    margin-left: -14px;
}
.credit
{    
    font-weight: 500;
    border-top: 2px dashed black;
    border-bottom: none;
    border-left: none;
}
.credit a
{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: black;
}
.credit a:hover
{
    color: #576CC4;
}
.credit img
{
    height: 22px;
    margin-right: 1em;
}
.credit-contain
{    
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}