*
{
    margin: 0;
    font-family: 'Space Mono', monospace;
}
.nav
{
    top: 0;
    padding-top: 22%;
    position: fixed;
    display:flex;
    flex-direction: column;
    text-align: right;
    font-size: 30px;
    height: 100vh;
    width: 20%;
    left: 10px;
    z-index: 1;
}
.main
{
    margin-top: 2%;
    background-color: rgb(244, 186, 163);
    margin-left: 8%;
    margin-right: 8%;
}
.tab
{
    list-style: none;
    padding-bottom: 30px;
    font-weight: bolder;
    font-size: 18px;
}
.tablink
{
    text-decoration: none;
    color: black;
}
.tablink:hover
{
    text-decoration: underline;
}
.cover
{
    display: flex;
    flex-direction: row;
}
.image
{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-bottom: -7%;
    margin-right: -12%;
}
#faceimage
{
    border: 2px solid #000; 
    border-radius: 10px;
    width: 30%;
}
#para
{
    line-height: 1.5;
    width: 30vw;
    margin-right: -5%;
    font-size: 35px;
    z-index: 3;
    color: rgb(73, 73, 73);
}
strong
{
    color: black;
    z-index: 2;
    font-weight: bold; 
    font-family: 'Roboto Mono', monospace; 
    text-align: right;
    justify-content: right;
}
#textbox
{
    left: 0;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
}
#hello
{
    font-weight: bolder;
    font-size: 90px;
}
#lorem
{
    font-size: 25px;
    padding-bottom: 20vh;
}
#about
{
    border-bottom: 2px solid rgb(139, 53, 0);
}
.stuff
{
    justify-content: center;
    text-align: center;
}
.div
{
    justify-content: center;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
#vertnav
{
    text-align: right;
    margin-right: 5%;
    padding-top: 2%;
    margin-bottom: -1%;
}
@media screen and (max-width: 900px)
{
    .nav
    {
        position: fixed;
        height: auto;
        flex-direction: row;
        list-style: none;
        z-index: 3;
        padding-top: 0;
        width: 100vw;
        justify-content: center;
        width: 100vw;
        margin-left: -10px;
        background-color: rgb(250, 185, 162);
    }
    .nav:active
    {
        text-decoration: none;
    }
    .tab
    {
        top: 0;
        padding: 3%;
    }
    #vertnav
    {
        visibility: hidden;
    }
    .image
    {
        flex-direction: column-reverse;
        margin:0;
        z-index: -2;
    }
    #faceimage
    {
        z-index: -1;
        top: 0;
        width: 100vw;
        border-radius: 0;
        border: none;
    }
    #para
    {
        justify-content: left;
        font-size: 25px;
        padding-left: 6vw;
        text-align: left;
        color: rgb(73, 73, 73);
        /*background-color: cadetblue;*/
        width: 90vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #paraspan
    {
        margin-right: 90px;
        width: 20%;
        font-size: 30px;
    }
    .main
    {
        margin: 0;
        size-adjust: auto;
        justify-content: center;
    }
    #textbox
    {
        left: 0;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0;
    }
    /*#hello
    {
        margin-top: -3%;
    }*/
}