*
{
    margin: 0;
    font-family: 'Space Mono', monospace;
}
body
{
    background-color: rgba(140, 163, 243, 0.433);
}
strong
{
    font-family: 'Roboto Mono', monospace;;
}
.nav
{
    top: 0;
    padding-top: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    width: 15%;
    font-weight: bolder;
    font-size: 20px;
}
.main
{
    background-color: rgba(0, 53, 227, 0.219);
    margin: 7%;
    padding-bottom: 7%;
}
.tab
{
    list-style: none;
    padding-bottom: 30px;
}
.tablink
{
    text-decoration: none;
    color: black;
}
.tablink:hover
{
    text-decoration: underline;
}
.cover
{
    display: flex;
    flex-direction: row;
}
.intro
{
    display: flex;
    margin-top: 3%;
    margin-bottom: -10%;
    margin-left: 10%;
    padding-right: -40%;
    justify-content: center;
    text-align: center;
    height: auto;
    max-width: 98vw;
    right: 10%;
}
#faceimage
{
    border: 2px solid #000; 
    width: 23%;
}
#para
{
    margin-top: 8%;
    line-height: 1.5;
    width: 30vw;
    height: 20vh;
    margin-right: -5%;
    font-size: 35px;
    z-index: 3;
    color: rgb(73, 73, 73);
}
#name
{
    font-size: 60px;
}
#stronghello
{
    color: black;
    z-index: 2;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
#textbox
{
    left: 0;
    padding-left: 26%;
    padding-right: 30%;
    padding-top: 8%;
    z-index: 1;
}
#hello
{
    font-size: 20px;
}
#lorem
{
    font-size: 25px;
    padding-bottom: 20vh;
}
.stuff
{
    justify-content: center;
    text-align: center;
}
.div
{
    justify-content: center;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
#what_do_i_do
{
    width: 46vw;
    text-align: end;
}
.field
{
    margin-top: 8%;
    display: flex;
    width: 50vw;
    line-height: 35px;
}
#save_water
{
    width: 40%;
    height: 40%;
    border: 2px solid black;
}
.label
{
    margin-top: 8%;
    margin-left: 7%;
}
.heading
{
    font-size: 28px;
    font-weight: bold;
}
#about_heading
{
    font-size: 18px;
}
#extra
{
    padding-top: 2%;
    margin-top: 6%;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
#links
{
    padding-top: 1%;
    align-items: center;
}
#strong_hello, #name
{
    color: black;
}
#strong_hello
{
    font-size: 48px;
}
@media screen and (max-width: 1702px)
{
    #para
    {
        margin-top: 8%;
        line-height: 1.5;
        width: 30vw;
        height: 20vh;
        margin-right: -5%;
        font-size: 28px;
        z-index: 3;
    }
    #name
    {
        font-size: 45px;
    }
}
@media screen and (max-width: 1173px)
{
    #para
    {
        margin-top: 8%;
        line-height: 1.5;
        width: 30vw;
        height: 20vh;
        margin-right: -5%;
        font-size: 25px;
        z-index: 3;
    }
    #name
    {
        font-size: 38px;
    }
    #strong_hello
    {
        font-size: 35px;
    }
}
@media screen and (max-width: 1030px)
{
    body
    {
        width: 100vw;
    }
    .nav
    {
        text-align: right;
        height: 100vh;
        width: 20%;
        font-weight: bolder;
        font-size: 18px;
    }
    #save_water
    {
        width: 40%;
        height: 40%;
        border: 2px solid black;
    }
    .image
    {
        position: relative;
        display: flex;
        margin-top: 3%;
        margin-bottom: -10%;
        padding-right: -50%;
        text-align: end;
        height: auto;
        right: -20%;
        width: 78vw;
    }
    #para
    {
        margin-right: -4%;
        margin-top: 16%;
        width: 40vw;
        font-size: 29px;
        color: rgb(73, 73, 73);
    }
    .main
    {
        margin: 0;
        margin-top: 8%;
        padding-bottom: 7%;
    }
    #faceimage
    {
        width: 33%;
        height: 33%;
    }
    #strong_hello
    {
        font-size: 40px;
    }
    #name
    {
        font-size: 46px;
    }
    .label
    {
        margin-top: 4.5%;
        margin-left: 5%;
    }
    .field
    {
        margin-top: 8%;
        display: flex;
        width: 70vw;
        line-height: 35px;
    }
    .heading
    {
        font-size: 22px;
        font-weight: bold;
    }
    #about_heading
    {
        font-size: 16px;
    }
    #extra
    {
        padding-top: 2%;
        margin-top: 6%;
        font-size: 17px;
        text-align: center;
        align-items: center;
    }
}