*
{
    margin: 0;
    font-family: 'Space Mono', monospace;
}
.nav
{
    top: 0;
    padding-top: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    width: 12%;
    font-weight: bolder;
    font-size: 25px;
}
.main
{
    background-color: rgba(0, 53, 227, 0.266);
    margin: 7%;
}
.tab
{
    list-style: none;
    padding-bottom: 30px;
}
.tablink
{
    text-decoration: none;
    color: black;
}
.tablink:hover
{
    text-decoration: underline;
}
.cover
{
    display: flex;
    flex-direction: row;
}
.image
{
    display: flex;
    margin-top: 3%;
    margin-bottom: -10%;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100vw;
    max-width: 98vw;
}
.realimage
{
    z-index: 3;
}
#faceimage
{
    border: 2px solid #000; 
    width: 23%;
    box-shadow: 10px 10px rgb(0, 0, 0)
}
#para
{
    margin-top: 8%;
    line-height: 1.5;
    width: 30vw;
    height: 20vh;
    margin-right: -5%;
    font-size: 35px;
    z-index: 3;
    color: rgb(73, 73, 73);
}
strong
{
    color: black;
    z-index: 2;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}
#textbox
{
    left: 0;
    padding-left: 26%;
    padding-right: 30%;
    padding-top: 8%;
    z-index: 1;
}
#hello
{
    font-size: 20px;
}
#lorem
{
    font-size: 25px;
    padding-bottom: 20vh;
}
.stuff
{
    justify-content: center;
    text-align: center;
}
.div
{
    justify-content: center;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
#what_do_i_do
{
    width: 46vw;
    text-align: end;
}
.field
{
    margin-top: 8%;
    display: flex;
    width: 50vw;
    line-height: 35px;
}
#save_water
{
    width: 40%;
    border: 3px solid black;
    box-shadow: 5px 5px rgb(0, 0, 0)
}
.label
{
    margin-top: 10%;
    margin-left: 7%;
}
.heading
{
    font-size: 28px;
    font-weight: bold;
}
#about_heading
{
    font-size: 18px;
}
@media screen and (max-width: 1441px)
{
    #textbox
    {
        margin: 0;
    }
    #para
    {
        
    }
}
@media screen and (max-width: 1024px) /*text allign*/
{
    .nav
    {
        position: fixed;
        flex-direction: row;
        list-style: none;
        z-index: 3;
        padding-top: 0;
        width: 100vw;
        justify-content: center;
    }
    .tablink
    {
        font-size: 110%;
    }
    .tab
    {
        top: 0;
        padding: 3%;
    }
    .image
    {
        flex-direction: column-reverse;
        margin: 0;
        width: 20%;
        z-index: 3;
    }
    #faceimage
    {
        margin: 0;
        z-index: 2;
        top: 0;
        width: 100vw;
        border-radius: 0;
        border: none;
    }
    #para
    {
        width: 100vw;
        height: 15vh;
        z-index: 0;
        justify-content: left;
        background-color: rgb(255, 208, 188);
        margin-top: 0;
        padding-top: 25%;
    }
    #paraspan
    {
        margin-right: 90px;
        width: 20%;
        font-size: 30px;
        justify-content: left;
        text-align: left;
    }
    .main
    {
        margin: 0;
        size-adjust: auto;
        justify-content: center;
        width: 100vw;
    }
    #textbox
    {
        padding-top: 0;
        left: 0;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0;
    }
}
@media screen and (max-width: 442px)
{
    .nav
    {
        position: fixed;
        height: auto;
        flex-direction: row;
        list-style: none;
        z-index: 3;
        padding-top: 0;
        width: 100vw;
        justify-content: center;
        margin-left: -10px;
        background-color: rgb(255, 160, 126);
        padding-left: 8%;
        overflow: scroll;
    }
    .tablink
    {
        font-size: 100%;
    }
    .tab
    {
        top: 0;
        padding: 3%;
    }
    .image
    {
        flex-direction: column-reverse;
        margin: 0;
        width: 20%;
        z-index: 3;
        margin-top: 11.5%
    }
    #faceimage
    {
        margin: 0;
        z-index: 2;
        top: 0;
        width: 100vw;
        border-radius: 0;
        border: none;
    }
    #para
    {
        width: 100vw;
        height: 15vh;
        z-index: 0;
        justify-content: left;
        background-color: rgb(255, 208, 188);
        margin-top: 0;
        padding-top: 25%;
    }
    #paraspan
    {
        margin-right: 90px;
        width: 20%;
        font-size: 30px;
        justify-content: left;
        text-align: left;
    }
    .main
    {
        margin: 0;
        size-adjust: auto;
        justify-content: center;
    }
    #textbox
    {
        padding-top: 0;
        left: 0;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0;
    }
}