button
{
    background-color: var(--background);
}
.button-contain button
{
    border: var(--thin-border);
    border-radius: 55px;
    font-size: 25px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5%;
    cursor: pointer;
}
.active
{
    border-top: var(--thick-border);
}
.contact-tab
{
    border-bottom: none;
}
.work-text
{
    margin-top: 0;
    padding-top: 5em;
    padding-left: 10%;
}
.workbox
{
    padding: 0%;
}
.button-contain
{
    margin-top: 2%;
}
.grid-contain
{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: stretch;
    align-items: stretch;
    padding-right: 5%;
}
.grid-item
{
    font-size: 25px;
    padding-top: 60%;
    padding-right: 5%;
    text-align: end;
    border: var(--thick-border);
    width: 25vw;
    height: 20vw;
    margin: 5%;
    text-align: end;
    align-content: end;
    align-items: end;
}
.tags
{
    display: flex;
}
.tags span
{
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 55px;
    font-size: 15px;
}
.grid-item strong
{
    font-size: 25px;
}
.grid-item
{
    padding-top: 58%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:768px)
{
    .contact-tab
    {
        border-bottom: var(--thin-border);
        border-right: none;
    }
    .button-contain::-webkit-scrollbar 
    {
        display: none;
    }
    .head-text, .work-text
    {
        margin-left: -5%;
        padding-top: 18%;
        border-right: none;
    }
    .tab
    {
        border-left: none;
    }
    .links-btn
    {
        display:none;
    }    
    .button-contain
    {
        position: relative;
        margin-left: -12%;
        padding: 5% 0 0 0;
        display: flex;
        width: auto;
        flex-wrap: nowrap ;
        overflow-x: scroll;
        scrollbar-width: 0px;
        scrollbar-face-color: none;
    }
    .button-contain button
    {
        font-size: 25px;
        margin-right: 10px;
    }
    .all
    {
        margin-left: 11%;
    }
}
@media screen and (max-width:585px)
{
    .head-text strong 
    {
        font-size: 40px;
    }
}
@media screen and (max-width:450px)
{    
    .button-contain button
    {
        font-size: 18px;
        border: 2px solid black;
    }
    .work-text
    {
        padding-top: 24%;
    }
    .head-text strong 
    {
        font-size: 35px;
    }
}