a
{
    color: black;
}
button
{
    background-color: var(--background);
}
.button-contain
{
    margin-top: 2%;
}
.button-contain button
{
    border: var(--thin-border);
    border-radius: 55px;
    font-size: 25px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5%;
    cursor: pointer;
}
.image-content
{
    height: 100%;
    margin-bottom: 35px;
}
.active
{
    border-top: var(--thick-border);
}
.contact-tab
{
    border-bottom: none;
}
.work-text
{
    margin-top: 0;
    padding-top: 5em;
    padding-left: 10%;
    padding-bottom: 4%;
    min-height: 100vh;
}
.workbox
{
    padding: 0%;
}
.category, .year
{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    background-color: var(--background);
    margin-top: 2%;
    width: fit-content;
}
.note
{
    background-color: var(--background);
    width: fit-content;
    font-size: 20px;
}
.note a
{
    color: black;
    cursor: pointer;
}
.grid-contain
{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: stretch;
    align-items: stretch;
    padding-right: 5%;
}
.suggest
{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-left: 1.4%;
    display: flex;
    cursor: pointer;
    padding-bottom: -10%;
    background-color: var(--background);
    width: fit-content; 
    justify-content: center;
    vertical-align: bottom;
}
.suggest:hover, .suggest a:hover
{
    cursor: default;
}
.suggest img
{
    height: 55%;
    justify-content: center;
    vertical-align: middle;
}
.grid-item
{
    color: black;
    font-size: 25px;
    padding-top: 60%;
    padding-right: 5%;
    text-align: end;
    border: var(--thick-border);
    width: 25vw;
    height: 20vw;
    margin: 5%;
    text-align: right;
    align-content: end;
    align-items: end;
    vertical-align: bottom;
    justify-content: baseline;
}
.tags
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: end;
    font-size: 15px;
}
.tags span
{
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 55px;    
}
.grid-item strong
{
    font-size: 24px;
    background-color: none important;
}
.grid-item
{
    padding-top: 58%;
    display: flex;
    flex-direction: column;
}
svg
{
    color: var(--work-category);
}
.work-text svg
{
    height: 30px;
    margin-bottom: -5px;
}
.button-contain
{
    display: flex;
    flex-wrap: nowrap ;
    width: auto;
    overflow-x: scroll;
    position: relative;
    padding: 1% 0 0 1%;
    scrollbar-face-color: none;
    margin-left: -1%;
    margin-bottom: -3%;
}
.button-contain button
{
    cursor: default;
    margin-right: 10px;
}
.button-contain::-webkit-scrollbar
{
    display: none;
}
/*popup container*/
#popupContainer 
{ /*donot touch*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479);
    transition: cubic-bezier(0.03, 0.6, 0.3, 1.09);
}
#close
{
    background: var(--green);
    border: none;
    margin: .25%;
    margin-left: 1%;
    padding: .75%;
}
#close svg, #close path, #close
{
    cursor: pointer;
}
#close svg:hover, #close:hover > #close svg
{
    color: red;
}
a:hover
{
    cursor:pointer;
}
#popup-content
{
    padding: 5%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100vw;
    padding-top: 60px;
}
.popup-sub-container
{
    max-width: 75%;
    min-width: 45%;
    height: max-content;
    right: 0;
    background-color: var(--popup-background);
    border-radius: 5px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    box-shadow: 15px 15px black;
}
.popup-head
{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid black;
    width: 100%;
    opacity: 1;
    background-image:  radial-gradient(#6a37d6 1px, transparent 1px), radial-gradient(#6a37d6 1px, var(--green) 1px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
}
#popup-title
{
    word-spacing: -5px;
    font-size: 24px;
    margin: 0.25%;
    margin-left: 2%;
    height: auto;
    background-color: var(--green);
    padding: 0.25%;
}
.multiple-image-content
{
    width: 100%;
    margin-bottom: 35px;
}
@media screen and (max-width:1041px) and (min-width: 520px)
{
    .skill-contain
    {
        margin-left: 98px;
    }
    .work-text
    {
        padding-left: 20px;
    }
}
@media screen and (max-width:1660px)
{
    .grid-item strong
    {
        font-size: 22px;
    }
    .tags
    {
        margin-top: -10px;
    }
}    
@media screen and (max-width:1560px)
{
    .grid-item strong
    {
        font-size: 20px;
    }    
    .grid-item:hover > strong
    {
        font-size: 26px;
    }    
}
@media screen and (max-width:1360px)
{
    .grid-item
    {
        padding-bottom: 10px;
    }    
    .grid-item strong
    {
        font-size: 18px;
    }
    .grid-item:hover > strong
    {
        font-size: 18px;
    } 
    .tags
    {
        font-size: 12px;
        margin-top: -10px;
        height: 70%;
    }
    .tags span
    {
        margin-left: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 55px;
        height: 20px;
        margin-top: 3px;
    }
}
@media screen and (max-width:1200px)
{
    .note
    {
        margin-top: 2%;
    }
    .grid-item
    {
        border: var(--thin-border);
    } 
    .grid-item strong
    {        
        min-height:17px;
        text-overflow:ellipsis;
    }
}
@media screen and (max-width:1041px)
{
    .button-contain
    {
        margin-left: -20px;
    }
    .recent
    {
        margin-left: 2%;
    }
    .grid-item strong
    {        
        max-height:17px;text-overflow:ellipsis;
    }
}
@media screen and (max-width:910px)
{
    .grid-item strong
    {
        font-size: 17px;
    }
    .tags span
    {
        margin-left: 5px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 55px;
        height: 20px;
        margin-top: 3px;
    }    
}
@media screen and (max-width:768px)
{
    .popup-sub-container
    {
        height: 100vh;
        min-width: 100vw;
    }
    .image-content
    {
        font-size: 18px;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        margin-top: 25vh;
    }
    .skill-contain
    {
        margin-left: 0;
    }
    .work-text
    {
        padding-left: 10%;        
    }
    .grid-contain
    {
        width: auto;
        left: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding: none;
        margin: none;
    }
    .grid-item
    {
        width: auto;
    }
    .grid-item strong
    {
        font-size: 28px;
    }
    .grid-item:hover > .grid-item strong
    {
        font-size: 28px;
    }
    .contact-tab
    {
        border-bottom: var(--thin-border);
        border-right: none;
    }    
    .head-text, .work-text
    {
        margin-left: -5%;
        padding-top: 18%;
        border-right: none;
    }
    .tab
    {
        border-left: none;
    }
    .button-contain
    {
        margin-left: -5.5%;
    }
    .button-contain button
    {
        font-size: 25px;
        margin-right: 10px;
    }
    .recent
    {
        margin-left: 4%;
    }
    .tags
    {
        margin-top: -10%;
    }
    #popup-title
    {
        padding: 0.5%;
    }
}
@media screen and (max-width:639px)
{
    .note
    {
        margin-left: 2%;
    }
}
@media screen and (max-width:585px)
{
    .head-text strong
    {
        font-size: 35px;
    }
    .grid-item strong
    {
        font-size: 25px;
    }
}
@media screen and (max-width:520px)
{
    .grid-item strong
    {
        font-size: 20px;
    }
    #popup-title
    {
        padding: 1%;
    }
}
@media screen and (max-width:450px)
{   
    
    #popup-title
    {
        font-size: 20px;
        padding: 2%;
    }
    #popup-content
    {
        height: 100%;
        align-self: center;
        position: inherit;
        justify-content: center;
        vertical-align: middle;

        padding-bottom: 15%;
    }
    .popup-sub-container
    {
        position: relative;
        justify-content: center;
        vertical-align: middle;
    }
    .image-content
    {        
        margin-top: 25vh;
    }
    .image-content, .multiple-image-content
    {
        width: 100%;
        height: auto;
        align-self: center;
        
        margin-bottom: 5%;
    }
    .button-contain button
    {
        font-size: 18px;
        border: 2px solid black;
    }
    .work-text
    {
        padding-top: 24%;
    }
    @media screen and (max-width:450px)
    {
        .suggest
        {
            font-size: 17px;
        }
        .suggest img
        {
            height: 48%;
        }
        .grid-item strong
        {
            font-size: 16px;
        }
    }
    
}