button
{
    background-color: var(--background);
}
.button-contain
{
    margin-top: 2%;
}
.button-contain button
{
    border: var(--thin-border);
    border-radius: 55px;
    font-size: 25px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 5%;
    cursor: pointer;
}
.active
{
    border-top: var(--thick-border);
}
.contact-tab
{
    border-bottom: none;
}
.work-text
{
    margin-top: 0;
    padding-top: 5em;
    padding-left: 10%;
    padding-bottom: 4%;
    min-height: 100vh;
}
.workbox
{
    padding: 0%;
}
.category, .year
{
    font-size: 25px;
    font-weight: bold;
    /* border-left: 10px solid var(--palette-color-1); */
    padding-left: 10px;
    background-color: var(--background);
    margin-top: 2%;
    width: fit-content;
}
.note
{
    background-color: var(--background);
    width: fit-content;
    font-size: 20px;
}
.note a
{
    color: black;
    cursor: pointer;
}
.grid-contain
{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: stretch;
    align-items: stretch;
    padding-right: 5%;
}
.suggest
{
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    margin-left: 1.4%;
    display: flex;
    cursor: pointer;

    background-color: var(--background);
}
.suggest img
{
    width: 22px;
    margin-left: 15px;
}
.grid-item
{
    color: black;
    font-size: 25px;
    padding-top: 60%;
    padding-right: 5%;
    text-align: end;
    border: var(--thick-border);
    width: 25vw;
    height: 20vw;
    margin: 5%;
    text-align: end;
    align-content: end;
    align-items: end;
}
.tags
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: end;
    font-size: 15px;
}
.tags span
{
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 55px;    
}
.grid-item strong
{
    font-size: 24px;
    background-color: none important;
}
.grid-item
{
    padding-top: 58%;
    display: flex;
    flex-direction: column;
}
svg
{
    color: var(--work-item-hover);
}
.work-text svg
{
    height: 30px;
    margin-bottom: -5px;
}
.button-contain
{
    display: flex;
    flex-wrap: nowrap ;
    width: auto;
    overflow-x: scroll;
    position: relative;
    padding: 1% 0 0 1%;
    scrollbar-face-color: none;
    margin-left: -1%;
    margin-bottom: -3%;
}
.button-contain button
{
    cursor: default;
    margin-right: 10px;
}
.button-contain::-webkit-scrollbar
{
    display: none;
}
@media screen and (max-width:1041px) and (min-width: 520px)
{
    .skill-contain
    {
        margin-left: 98px;
    }
    .work-text
    {
        padding-left: 20px;
    }
}
@media screen and (max-width:1660px)
{
    .grid-item strong
    {
        font-size: 22px;
    }
    .tags
    {
        margin-top: -10px;
    }
}    
@media screen and (max-width:1560px)
{
    .grid-item strong
    {
        font-size: 20px;
    }    
    .grid-item:hover > strong
    {
        font-size: 26px;
    }    
}
@media screen and (max-width:1360px)
{
    .grid-item
    {
        padding-bottom: 10px;
    }    
    .grid-item strong
    {
        font-size: 18px;
    }
    .grid-item:hover > strong
    {
        font-size: 18px;
    } 
    .tags
    {
        font-size: 12px;
        margin-top: -10px;
        height: 70%;
    }
    .tags span
    {
        margin-left: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 55px;
        height: 20px;
        margin-top: 3px;
    }
}
@media screen and (max-width:1200px)
{
    .grid-item
    {
        border: var(--thin-border);
    } 
    .grid-item strong
    {        
        min-height:17px;
        text-overflow:ellipsis;
    }
}
@media screen and (max-width:1041px)
{
    .button-contain
    {
        margin-left: -20px;
    }
    .recent
    {
        margin-left: 2%;
    }
    .grid-item strong
    {        
        max-height:17px;text-overflow:ellipsis;
    }
}
@media screen and (max-width:910px)
{
    .grid-item strong
    {
        font-size: 17px;
    }
    .tags span
    {
        margin-left: 5px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 55px;
        height: 20px;
        margin-top: 3px;
    }    
}
@media screen and (max-width:768px)
{
    .skill-contain
    {
        margin-left: 0;
    }
    .work-text
    {
        padding-left: 10%;        
    }
    .grid-contain
    {
        width: auto;
        left: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding: none;
        margin: none;
    }
    .grid-item
    {
        width: auto;
    }
    .grid-item strong
    {
        font-size: 28px;
    }
    .grid-item:hover > .grid-item strong
    {
        font-size: 28px;
    }
    .contact-tab
    {
        border-bottom: var(--thin-border);
        border-right: none;
    }    
    .head-text, .work-text
    {
        margin-left: -5%;
        padding-top: 18%;
        border-right: none;
    }
    .tab
    {
        border-left: none;
    }
    .links-btn
    {
        display:none;
    }
    .button-contain
    {
        margin-left: -5.5%;
    }
    .button-contain button
    {
        font-size: 25px;
        margin-right: 10px;
    }
    .recent
    {
        margin-left: 4%;
    }
    .tags
    {
        margin-top: -10%;
    }
}
@media screen and (max-width:585px)
{
    .head-text strong 
    {
        font-size: 25px;
    }
}
@media screen and (max-width:450px)
{    
    .button-contain button
    {
        font-size: 18px;
        border: 2px solid black;
    }
    .work-text
    {
        padding-top: 24%;
    }
    .head-text strong 
    {
        font-size: 20px;
    }
}