.grid-item
{
    background-size: 100%;
}
.grid-item:hover
{
    background-size: 100%;
}
.yellow-mando strong, .master-chief strong, .low-poly-man strong, .xamira strong, .dwarf strong, .fett strong, .green-suit strong, .low-poly-woman strong, .venom strong, .spaceman strong, .dj strong, .well strong, .gd-plat strong, .b-armor strong, .pong strong, .donut strong, .crater strong, .woman-grey strong, .winter-snow strong, .gwen-swinging strong, .dark-garfield strong, .woman-dark strong, .spider-punk-comic strong, .ahsoka-white strong, .pillows strong, .wizard-staff strong, .train-chase strong
{
    color: whitesmoke;
}
/*web*/
.counter-app
{
    background-image: url("assets/work/design/count-page.jpg");
    background-size: 130%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.counter-app:hover
{
    background-size: 110%;
}
.tanner-goods
{
    background-image: url("assets/work/design/tanner-goods.jpeg");
    background-position-x: 50%;
    background-position-y: 90%;
    background-size: 130%;
}
.old
{
    background-image: url("assets/work/design/old.jpg");
    background-size: 130%;
    background-position-x: 50%;
    background-position-y: 30%;
}
/*graphic design*/
.typography
{
    background-image: url("assets/work/design/typography.jpg");
    background-size: 110%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.logofolio-1
{
    background-image: url("assets/work/design/logofolio-1.jpg");
    background-size: 170%;    
    background-position-x: 50%;
    background-position-y: 10%;
}
.logofolio-1:hover
{
    background-size: 140%;
}
.p-c
{   
    background-image: url("assets/work/design/pharm-care.jpg");
    background-size: 155%;
    background-position-x: 50%;
    background-position-y: 20%;
}
.p-c:hover
{
    background-size: 125%;
}
/*illustrations*/
.train-chase
{
    background-image: url("assets/work/illustrations/2024/train-chase.jpg");
    background-size:210%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.train-chase:hover
{
    background-size:190%;
    background-position-x: 50%;
}
.winter-snow
{
    background-image: url("assets/work/illustrations/2023/winter-snow.jpg");
    background-size: 190%;
    background-position-y: 40%;
}
.winter-snow:hover
{
    background-size: 150%;
    background-position-x: 10%;
}
.chief
{
    background-image: url("assets/work/illustrations/2023/chief.jpg");
    background-size: 110%;
    background-position-y: 40%;
}
.gwen-swinging
{
    background-image: url("assets/work/illustrations/2023/gwen-swinging.jpg");
    background-size: 110%;
    background-position-y: 90%;
}
.dark-garfield
{
    background-image: url("assets/work/illustrations/2023/dark-garfield.jpg");
    background-size: 110%;
    background-position-y: 30%;
}
.woman-grey
{
    background-image: url("assets/work/illustrations/2023/woman_with_greys.jpg");
    background-size: 110%;
    background-position-y: 30%;
}
.grumpy-man-cd
{
    background-image: url("assets/work/illustrations/2023/grumpy-man-cover.jpg");
    background-size: 110%;
    background-position-y: 30%;
}
.ahsoka-white
{
    background-image: url("assets/work/illustrations/2023/ahsoka-the-white.jpg");
    background-size: 105%;
    background-position-y: 85%;
}
.xamira-cd
{
    background-image: url("assets/work/illustrations/2023/xamira.jpg");
    background-size: 110%;
    background-position-y: 10%;
}
.xamira-cd:hover
{
    background-size: 90%;
    background-position-y: 10%;
}
.crater
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/067/794/837/large/shaunak-ghosh-crater.jpg?1696261010");
    background-size: 110%;
    background-position-y: 50%;
}
.woman-dark
{
    background-image: url("assets/work/illustrations/2023/woman-in-dark.jpg");
    background-size: 110%;
    background-position-y: 15%;
}
.cliffs
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/067/717/643/large/shaunak-ghosh-rocks.jpg?1696045957");
    background-size: 110%;
    background-position-y: 45%;
}
.practice-2023
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/067/253/278/large/shaunak-ghosh-371472648-272791892215315-4973794584596394529-n.jpg?1694940104");
    background-size: 110%;
    background-position-y: 40%;
}
.spider-punk-comic
{
    background-image: url("assets/work/illustrations/2023/spider-punk-comic.jpg");
    background-size: 110%;
    background-position-y: 15%;
}
.low-poly-man
{
    background-image: url("assets/work/illustrations/2023/low_poly_man.jpg");
    background-size: 130%;
}
.feel
{
    background-image: url("https://mir-s3-cdn-cf.behance.net/projects/808/719f75162347367.Y3JvcCwxMDU4LDgyNywwLDExNQ.jpg");
    background-size: 140%;
    background-position-x: 50%;
    background-position-y: 10%;
}
.feel:hover
{
    background-size: 110%;
}
.yellow-mando
{
    background-image: url("assets/work/illustrations/2022/mandalorian_character.jpg");
    background-size: 120%;
    background-position-x: 50%;
}
.master-chief
{
    background-image: url("assets/work/illustrations/2022/Master chief.jpg");
    background-size: 150%;
    background-position-x: 50%;
}
.master-chief:hover
{
    background-size: 120%;
}
.xamira
{
    background-image: url("assets/work/illustrations/2022/Xamira.jpg");
    background-size: 120%;
    background-position-x: 50%;
    background-position-y: 20%;
}
.flat-character
{
    background-image: url("https://mir-s3-cdn-cf.behance.net/projects/808/bcf846159093405.Y3JvcCwxMDIyLDc5OSwxNDYsMTY2.jpg");
    background-size: 130%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.flat-character:hover
{
    background-size: 110%;
}
.dwarf
{
    background-image: url("assets/work/illustrations/2022/dwarf.jpg");
    background-size: 120%;
    background-position-x: 50%;
    background-position-y: 20%;

}
.fett
{
    background-image: url("assets/work/illustrations/2022/boba-fett.jpg");
    background-size: 120%;
    background-position-x: 50%;
    background-position-y: 20%;
}
.green-suit
{
    background-image: url("assets/work/illustrations/2022/green_suit_man.jpg");
    background-position-x: 50%;
    background-position-y: 20%;
    background-size: 120%;
}
.low-poly-woman
{
    background-image: url("assets/work/illustrations/2022/Face_poly_small.jpg");
    background-position-x: 20%;
    background-position-y: 10%;
    background-size: 120%;
}
.venom
{
    background-image: url("assets/work/illustrations/2022/venom.jpg");
    background-size: 145%;
    background-position-x: 30%;
    background-position-y: 10%;
}
.venom:hover
{
    background-size: 115%;
}
.spaceman
{
    background-image: url("assets/work/illustrations/2022/spaceman.jpg");
    background-size: 130%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.doraemon
{
    background-image: url("assets/work/illustrations/2022/doraemon.jpg");
    background-size: 130%;
    background-position-x: 50%;
    background-position-y: 30%;
}
/*gamedev*/
.dj
{
    background-image: url("assets/work/gamedev/dj.jpg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 120%;
}
.dj:hover
{
    background-size: 110%;
}
.cube-simulator
{
    background-image: url("assets/work/gamedev/cube-simulator.jpg");
    background-position-x: 55%;
    background-position-y: 50%;
    background-size: 200%;
}
.cube-simulator:hover
{
    background-size: 175%;
}
.gd-plat
{
    background-image: url("assets/work/gamedev/gd-platformer.png");
    background-position-x: 80%;
    background-position-y: 50%;
    background-size: 180%;
}
.gd-plat:hover
{
    background-size: 150%;
}
.b-armor
{
    background-image: url("assets/work/gamedev/b-armor.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 170%;
}
.b-armor:hover
{
    background-size: 150%;
}
.pong
{
    background-image: url("assets/work/gamedev/pong.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
.pong:hover
{
    background-size: 70%;
}
/*experiments*/
.wizard-staff
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/070/198/274/large/shaunak-ghosh-stx.jpg?1701964805");
    background-position-x: 50%;
    background-size: 130%;
}
.pillows
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/068/729/514/large/shaunak-ghosh-coushion-render.jpg?1698508448");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 130%;
}
.soda-can
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/068/599/917/large/shaunak-ghosh-can-render.jpg?1698217736");
    background-position-x: 45%;
    background-position-y: 50%;
    background-size: 170%;
}
.soda-can:hover
{
    background-size: 140%;
}
.well
{
    background-image: url("assets/work/experiments/well.jpg");
    background-position-x: 70%;
    background-position-y: 50%;
    background-size: 170%;
}
.well:hover
{
    background-size: 145%;
}