body
{
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-base-color: #e8e8e6;
}
.icon
{
    cursor: pointer;
}
.main
{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#top-image
{
    border: 3px solid black;
    animation-name: appear-down;
    animation-duration: 1.5s;
    border-radius: 10px;
    margin-top: 0%;
    width: 88%;
}
@keyframes appear-down
{
    from
    {
        opacity: 0%;
        margin-top: -10%;
    }
    to 
    {
        opacity: 100%;
        margin-top: 0%;
    }
}
.main-text
{
    width: 65vw;
    margin-top: 8%;
    margin-left: 15vw;
    text-align: left;
}
.para
{
    margin-top: 5%;
    width: 90%;
}
.para-1 a
{
    color: #576CC4;
    font-weight: bold;
    text-decoration: none;
}
.para-1 a:hover
{
    text-decoration: underline;
    cursor: pointer;
}
.para p
{
    font-size: 25px;
}
.social-links
{
    top: 45%;
}

.boxes
{
    width: 50vw;
    background-color: yellowgreen;
    display: flex;/*try display grid*/
    flex-direction: row;
    justify-content: space-evenly;
}
.box
{
    background-color: #9faeed;
    padding: 4%;
    position: static;
    border-radius: 10px;
    border: 2px solid black;
}
.box p
{   
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 40px;
    font-weight:700;
}
.box ul
{
    margin-left: -15px;
    margin-top: 5%;
    font-size: 20px;
    line-height: 40px;
}
.box ul a
{
    color: black;
    text-decoration: none;
}
.box ul a:hover
{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
.para
{
    margin-bottom: 5%;
}
.num
{   
    font-size: 80px;
    color:rgba(98, 98, 98, 0.607);
    font-weight: bold;
    margin-left: -5%;
    font-family: 'Source Code Pro', monospace;
    animation-name: appear;
    animation-duration: 2s;
}
@keyframes appear
{
    0%
    {
        opacity: 0%;
    }
    50%
    {
        opacity: 0%;
    }
    100% 
    {
        opacity: 100%;
    }
}