html, body
{  
    overflow-y: hidden;
}
a:hover
{
    cursor: pointer;
}
.main-contain p, 
.main-contain span,
#face-image,
.extra,
.social-links
{    
    animation-name: appear;
    animation-duration: 1.7s;
}
.main
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-contain strong
{
    color: rgb(39, 39, 39);
}
.main-contain p
{
    color: #31337b;
}
.extra
{
    display: flex;
    width: 60%;    
}
.extra a
{
    margin-right: 20px;
    display: flex; 
    justify-content: center;
    text-decoration: none;
    color: #576CC4;
    font-weight: bold;
    transition: transform .3s;
}
.extra :hover
{
    transform: scale(110%);
}

#face-image
{
    border: 3px solid black;
    width: 18%;
}
@media screen and (min-width:1065px)
{
    .extra img
    {
        width:20px;
        height:20px;
    }
}
@media screen and (min-width:900px)
{
    .main-contain
    {   
        cursor: default;
        width: 55vw;
        height: 10vw;
        margin-left: -5vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: left;
    }
    #face-image
    {
        z-index: 4;
        position: absolute;
        border-radius: 50%;
        border: 3px solid black;
        width: 18%;
        margin-left: 10%;
        
        rotate: 2deg;
    }
    .main-contain p
    {
        margin-bottom: -35px;
        font-weight: normal;
        font-size: 18px;
    }
    .main-contain strong
    {
        z-index: 5;
        font-family: 'Outfit', sans-serif;
        font-size: 70px;
        margin-bottom: -3.5%;
        animation-name: move;
        animation-timing-function: cubic-bezier(0.03, 0, 0.01);
        animation-duration: 1.8s;
    }
    .main-contain span
    {        
        font-size: 23px;
        width: 50%;
    }
}
@keyframes appear
{
    0%
    {
        opacity: 0%;
    }
    50%
    {
        opacity: 0%;
    }
    100% 
    {
        opacity: 100%;
    }
}
@media screen and (max-width:1680px) 
{
    .main-contain p
    {
        word-spacing: 5px;
        margin-bottom: -5%;
        font-weight: normal;
        font-size: 16px;
    }
    .main-contain strong
    {
        font-size: 65px;
    }
    .main-contain span
    {
        font-size: 20px;
    }
}
@media screen and (max-width:1473px)
{
    .main-contain strong
    {
        font-size: 57px;
    } 
}
@media screen and (max-width:1318px)
{
    .main-contain
    {
        margin-left: -15vw;
    }
    .main-contain strong
    {
        font-size: 53px;
    } 
    .main-contain span
    {
        width: 30vw;
    } 
}
@media screen and (max-width:1065px)
{
    .main-contain strong
    {
        font-size: 48px;
    }   
    .main-contain span
    {
        font-size:  17px;
    }
    .extra a
    {
        font-size: 12px;
    }
    .extra img
    {
        width: 17px;
        height: 17px;
    }
}
@media screen and (max-width:900px)
{
    .main-contain
    {
        width: 75vw;
        height: auto;
        display: flex;
        padding-top: 3%;
        flex-direction: column;
        margin: 0;
        text-align: left;
        justify-content: center;
        align-items: left;
    }
    #face-image
    {
        position: relative;
        border-radius: 50%;
        margin-bottom: 2vh;
        border: 3px solid black;
        width: 180px;  
        rotate: 2deg;
    }
    .main-contain p
    {
        word-spacing: 5px;
        margin-bottom: -25px;
        font-weight: normal;
        font-size: 18px;
    }
    .main-contain strong
    {
        font-weight:bold;
        z-index: 5;
        font-family: 'Outfit', sans-serif;        
        margin-bottom: -3.5%;
        animation-name: move;
        animation-timing-function: cubic-bezier(0.03, 0, 0.01);
        animation-duration: 1.8s;
    }
    .main-contain span
    {
        width: 100%;
    }
    .extra
    {
        width: 65vw;
    }
    .extra a
    {
        font-size: 20px;
    }
    .extra img
    {
        width: 27px;
        height: 27px
    }
    .extra
    {
        background-color: yellowgreen;
        width: 110vw;
    }
    
}
@media only screen and (max-width: 900px) and (min-width: 522px)
{/*fix the purple links*/
    .main-contain strong
    {
        font-size: 58px;
    }
    .main-contain span
    {
        font-size: 30px;
    }
    .main-contain p
    {
        font-size: 22px;
    }
    
}
@media only screen and (max-width: 645px) and (min-width: 522px)
{
    .main-contain strong
    {
        font-size: 52px;
    }
    .main-contain span
    {
        font-size: 28px;
    }
}
@media screen and (max-width:639px)/*fix the purple links*/
{
    .main-contain span
    {
        font-size: 15px;
    }
    .extra a
    {
        font-size: 16px;
    }
    .extra img
    {
        width: 18px;
        height: 18px;
    }
}
@media screen and (max-width:479px)
{
    .main-contain strong
    {
        font-size: 37px;
    }
    .main-contain span
    {
        font-size: 18px;
    }
    .extra a
    {
        font-size: 14px;
    }
    .extra img
    {
        width: 16px;
        height: 16px;
    }
}