html, body
{  
    overflow-y: hidden;
}
a:hover
{
    cursor: pointer;
}
.main-contain p, 
.main-contain span,
#face-image,
.extra,
.social-links
{    
    animation-name: appear;
    animation-duration: 1.7s;
}
.main
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-contain strong
{
    color: rgb(39, 39, 39);
}
.main-contain p
{
    color: #31337b;
}
.extra
{
    display: flex;
    width: 60%;    
}
.extra a
{
    margin-right: 20px;
    display: flex; 
    justify-content: center;
    text-decoration: none;
    color: #576CC4;
    font-weight: bold;
    transition: transform .3s;
}
.extra :hover
{
    transform: scale(110%);
}

#face-image
{
    border: 3px solid black;
    width: 18%;
}
@media screen and (min-width:1065px)
{
    .extra img
    {
        width:20px;
        height:20px;
    }
}
@media screen and (min-width:900px)
{
    .main-contain
    {   
        cursor: default;
        width: 55vw;
        height: 10vw;
        margin-left: -5vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: left;
    }
    #face-image
    {
        z-index: 4;
        position: absolute;
        border-radius: 50%;
        border: 3px solid black;
        width: 18%;
        margin-left: 10%;
        
        rotate: 2deg;
    }
    .main-contain p
    {
        margin-bottom: -35px;
        font-weight: normal;
        font-size: 18px;
    }
    .main-contain strong
    {
        z-index: 5;
        font-family: 'Outfit', sans-serif;
        font-size: 70px;
        margin-bottom: -3.5%;
        animation-name: move;
        animation-timing-function: cubic-bezier(0.03, 0, 0.01);
        animation-duration: 1.8s;
    }
    .main-contain span
    {        
        font-size: 23px;
        width: 50%;
    }
}
@keyframes appear
{
    0%
    {
        opacity: 0%;
    }
    50%
    {
        opacity: 0%;
    }
    100% 
    {
        opacity: 100%;
    }
}