*
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor: default;
}
*::selection
{
    background: rgba(156, 147, 255, 0.658);
}
body
{
    background-color: #f4f1ea;
}
html, body
{
    max-width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar 
{
    width: 8px;
}
::-webkit-scrollbar-thumb
{
    background: rgba(30, 27, 36, 0.605);
}
.icon
{
    width: 27px;
    margin-right: 5%;
    transition: transform .3s;
    filter: brightness(0);
    transition: all 0.3s;
}
.icon:hover
{
    transform: translateY(-10%);
    filter: brightness(100%);
    cursor: pointer;
}
.social-links
{
    line-height: 60px;
}
@media screen and (min-width:900px)
{
    .links
    {
        display: none;
    }
    .main
    {
        margin-left: 15%;
    }    
    .toggle-btn
    {
        display: none;        
    }
    .extra img
    {
        width:18px;
        height:18px;
    }
    .social-links
    {
        height: auto;
    }
    .social-links:after
    {
        content: '';
        background-color: #576CC4;
        height: 50vh;
        width: 4px;
        margin-left: -11.7%;
    }
}
.nav
{
    z-index: 0;    
    width: 25%;
    padding-left: 1vw;
    position: fixed;
    line-height: 280%;
    animation-name: appear;
    animation-duration: 1.8s;
}
.nav ol
{
    
    display: flex;
    height: 96vh;
    flex-direction: column;
    justify-content: end;
    list-style: none;
}
.nav-link
{
    list-style: none;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 6px;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}
.nav-link:after
{
    z-index: -1;
    content: '';
    position: absolute;
    width:85%;
    transform: scaleX(0);
    height: 40px;
    bottom: -3%;
    left: 0;
    background-color: #C4B9FF;
    transform-origin: bottom left;
    transition: transform 0.26s cubic-bezier(1, 0.71, 0, 0.9);
    margin-left: -10px;
}
.nav-link:hover:after 
{
    transform: scaleX(1);
    transform-origin: center left;
}
.active:hover:after
{
    transform: scaleX(0);
    transform-origin: bottom left;
    text-decoration: none;
}
.nav-link
{
    cursor: pointer;
}
.active
{
    color: #576CC4;
    cursor: default;
}
.social-links a
{
    margin-right: 5%;
    transition: transform .3s;
}
.social-links a:hover
{
    transform: translateY(-10%);
}
.social-links img
{
    margin-left: -70%;
    width: 28px; 
    height: 28px;
}
@keyframes change-colour
{
    from
    {
        color: black;
    }
    to
    {
        color: #5153bd;
    }
}
@keyframes move
{
    from
    {
        color: rgba(0, 0, 0, 0);
        margin-left: -70%;
    }
    to 
    {
        color: black;
        margin-left: 0;
    }
}
@keyframes appear
{
    0%
    {
        opacity: 0%;
    }
    50%
    {
        opacity: 0%;
    }
    100% 
    {
        opacity: 100%;
    }
}
@keyframes face-appear
{
    from
    {
        opacity: 0%;
        margin-left: -10%;
    }
    to 
    {
        opacity: 100%;
        margin-left: 15%;
    }
}
@media screen and (max-width:1473px)
{
    .social-links
    {
        line-height: 60px;
    }
}
@media screen and (max-width:1318px)
{
    .nav-link
    {
        font-size: 17px;
    }
    .social-links
    {
        line-height: 50px;
    }
    .social-links img
    {
        width: 22px; 
        height: 22px;
    }
}
@media screen and (max-width:1065px)
{
    .social-links
    {
        line-height: 50px;
    }
    .social-links img
    {        
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width:900px)
{
    .social-links{
        visibility: hidden;
    }
    .main
    {
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .toggle-btn img
    {
        position: fixed;
        right: 0;
        width: 40px;
        margin: 5%;
    }
    .nav
    {
        width: 0vw;
        height: 0vh;
        z-index: 6;
        animation-name: appear;
        animation-duration: 1.8s;
    }
    .nav.active
    {   
        display: flex;
        width: 110vw;
        height: 100vh;;
    }
    .links
    {
        text-decoration: none;
        color: #31337b;
    }
    .nav ol
    {
        width: 70vw;
        display: flex;
        text-align: left;
        justify-content: end;
        align-items: safe;
        height: 70vh;
        display: none;
    }
    .nav ol.active
    {
        display: flex;
        transform: translateY(10);
        line-height: 55px;
        animation-name: slide;
        animation-duration: 1.3s;
    }
    #list
    {
        z-index: -2;
        justify-content: center;
        vertical-align: middle;
    }
    #list.active
    {
        background-color: #f4f1ea;
        padding-top: 12%;
        height: 200vh;
        width: 110vw;
        margin-top: -60px;
        margin-left: -10px;
    }
    @keyframes slide
    {
        from
        {
            opacity: 0%;
            margin-left: 20vw;
        }
        to
        {
            opacity: 100%;
            margin-left: 0;
        }
    }
    .nav-link
    {
        z-index: 0;
        font-size: 25px;
    }
    .links
    {
        font-size: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 280px;
        height: 5%;
        margin-top: 25px;
    }
    .links a
    {
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .links a:hover
    {
        text-decoration: underline;
        text-decoration-color: #31337b;
    }
    .links a img
    {
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }
    .extra
    {
        width: 65vw;
    }
    .extra a
    {
        font-size: 20px;
    }
    .extra img
    {
        width: 27px;
        height: 27px
    }
}
@media only screen and (max-width: 900px) and (min-width: 522px)
{
    .nav-link
    {
        margin-left: 10%;
        font-size: 40px;
    }
    .links
    {
        width: 75%;
        margin-left: 10%;
    }
    .nav ol
    {
        line-height: 100px;
    }
    .links a
    {
        font-size: 25px;
        margin-right: 5%;
    }
    .links a img
    {
        width: 25px;
        height: 25px;
    }
}
@media only screen and (max-width: 645px) and (min-width: 522px)
{
    .links a
    {
        font-size: 20px;
        margin-right: 5%;
    }
    .links img
    {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width:639px)
{
    .extra
    {
        width: 80vw;
    }
    .extra a
    {        
        font-size: 16px;
    }
    .extra img
    {
        width: 18px;
        height: 18px;
    }
}
@media screen and (max-width:479px) {
    .links a
    {
        font-size: 18px;
    }
    .links a img
    {
        width: 18px;
        height: 18px;
    }
    .extra
    {
        width: 80vw;
    }
    .extra a
    {
        font-size: 12px;
        margin-right: 10px;
    }
    .extra img
    {
        width: 15px;
        height: 15px;
    }
}
/*heights*/
@media screen and (max-height:1680px)
{
    .social-links
    {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin-right: -75%;
        align-items: center;
        /*line-height: 60px;*/
        top: 50%;
        right: 70%;
        animation-name: appear;
        animation-duration: 1.8s;
    }
}
@media screen and (max-height:968px)
{
    .social-links
    {
        top: 45%;
    }
}
@media screen and (max-height:830px)
{
    .social-links
    {
        top: 40%;
    }
}
@media screen and (max-height:730px)
{
    .social-links
    {
        top: 30%;
    }
}
@media screen and (max-height:630px)
{
    .social-links
    {
        top: 25%;
    }
}
@media screen and (max-height:530px)
{
    .social-links
    {
        top: 18%;
    }
}