*
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor: default;
}
*::selection
{
    background: rgba(198, 173, 255, 0.658);
}
body
{
    background-color: #f4f1ea;
}
html, body
{
    max-width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar 
{
    width: 8px;
}
::-webkit-scrollbar-thumb
{
    background: rgba(80, 67, 60, 0.716);
    border-radius: 10px;
}
#face-image
{
    border: 3px solid black;
    width: 18%;
}
.main-contain p, 
.main-contain span,
#face-image,
.extra,
.social-links
{    
    animation-name: appear;
    animation-duration: 1.7s;
}
.main-contain p
{
    color: #31337b;
}
.extra
{
    display: flex;
    width: 60%;    
}
.extra a
{
    margin-right: 20px;
    display: flex; 
    justify-content: center;
    text-decoration: none;
    color: #576CC4;
    font-weight: bold;
    transition: transform .3s;
}
.extra :hover
{
    transform: scale(110%);
}
#line
{
    margin-left: -45px;
    height: 500px;
    width: 6px;
}
.social-links
{
    position: fixed;
}
@media screen and (min-width:1065px)
{
    .extra img
    {
        width:20px;
        height:20px;
    }
}
@media screen and (min-width:900px)
{
    .links
    {
        display: none;
    }
    .main
    {
        margin-left: 15%;
    }
    .main-contain
    {   
        cursor: default;
        width: 55vw;
        height: 10vw;
        margin-left: -5vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: left;
    }
    #face-image
    {
        z-index: 4;
        position: absolute;
        border-radius: 50%;
        border: 3px solid black;
        width: 18%;
        margin-left: 10%;
        
        rotate: 2deg;
    }
    .main-contain p
    {
        margin-bottom: -35px;
        font-weight: normal;
        font-size: 18px;
    }
    .main-contain strong
    {
        z-index: 5;
        font-family: 'Outfit', sans-serif;
        font-size: 70px;
        margin-bottom: -3.5%;
        animation-name: move;
        animation-timing-function: cubic-bezier(0.03, 0, 0.01);
        animation-duration: 1.8s;
    }
    .main-contain span
    {        
        font-size: 23px;
        width: 50%;
    }
    .toggle-btn
    {
        display: none;        
    }
    .extra img
    {
        width:18px;
        height:18px;
    }
}
.social-links
{
    position: fixed;
    font-weight: bold;
    animation-name: appear;
    animation-duration: 1.8s;
}
.nav
{
    z-index: 0;    
    width: 25%;
    padding-left: 1vw;
    position: fixed;
    line-height: 280%;
    animation-name: appear;
    animation-duration: 1.8s;
}
.nav ol
{
    
    display: flex;
    height: 96vh;
    flex-direction: column;
    justify-content: end;
    list-style: none;
}
.nav-link
{
    list-style: none;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 6px;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}
.nav-link:after
{
    z-index: -1;
    content: '';
    position: absolute;
    width:85%;
    transform: scaleX(0);
    height: 40px;
    bottom: -3%;
    left: 0;
    background-color: #C4B9FF;
    transform-origin: bottom left;
    transition: transform 0.26s cubic-bezier(1, 0.71, 0, 0.9);
    margin-left: -10px;
}
.nav-link:hover:after 
{
    transform: scaleX(1);
    transform-origin: center left;
}
.active
{
    color: #576CC4;
    cursor: default;
}
.active:hover:after
{
    transform: scaleX(0);
    transform-origin: bottom left;
    text-decoration: none;
}
.social-links
{
    height: 10%;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vh;
    float: bottom;
    margin-right: -75%;    
    align-items: center;
    line-height: 60px;
}
.social-links a
{
    margin-right: 5%;
    transition: transform .3s;
}
.social-links a:hover
{
    transform: translateY(-10%);
}
.social-links img
{
    width: 30px; 
    height: 30px;
}
@keyframes change-colour
{
    from
    {
        color: black;
    }
    to
    {
        color: #5153bd;
    }
}
@keyframes move
{
    from
    {
        color: rgba(0, 0, 0, 0);
        margin-left: -70%;
    }
    to 
    {
        color: black;
        margin-left: 0;
    }
}
@keyframes appear
{
    0%
    {
        opacity: 0%;
    }
    50%
    {
        opacity: 0%;
    }
    100% 
    {
        opacity: 100%;
    }
}
@keyframes face-appear
{
    from
    {
        opacity: 0%;
        margin-left: -10%;
    }
    to 
    {
        opacity: 100%;
        margin-left: 15%;
    }
}
/*@media only screen and (max-width: 600px) and (min-width: 400px)*/
@media screen and (max-width:1680px) 
{
    .main-contain p
    {
        word-spacing: 5px;
        margin-bottom: -5%;
        font-weight: normal;
        font-size: 16px;
    }
    .main-contain strong
    {
        font-size: 65px;
    }
    .main-contain span
    {
        font-size: 20px;
    }
}
@media screen and (max-width:1473px)
{
    .main-contain strong
    {
        font-size: 57px;
    } 
}
@media screen and (max-width:1318px)
{
    .main-contain
    {
        margin-left: -15vw;
    }
    .main-contain strong
    {
        font-size: 53px;
    } 
    .main-contain span
    {
        width: 30vw;
    }   
    .nav-link
    {
        font-size: 17px;
    }
}
@media screen and (max-width:1065px)
{
    .main-contain strong
    {
        font-size: 48px;
    }   
    .main-contain span
    {
        font-size:  17px;
    }
    .extra a
    {
        font-size: 12px;
    }
    .extra img
    {
        width: 17px;
        height: 17px;
    }
}
@media screen and (max-width:900px)
{
    .social-links{
        visibility: hidden;
    }
    .main
    {
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .main-contain
    {
        width: 75vw;
        height: auto;
        display: flex;
        padding-top: 3%;
        flex-direction: column;
        margin: 0;
        text-align: left;
        justify-content: center;
        align-items: left;
    }
    #face-image
    {
        position: relative;
        border-radius: 50%;
        margin-bottom: 2vh;
        border: 3px solid black;
        width: 180px;  
        rotate: 2deg;
    }
    .main-contain p
    {
        word-spacing: 5px;
        margin-bottom: -25px;
        font-weight: normal;
        font-size: 18px;
    }
    .main-contain strong
    {
        font-weight:bold;
        z-index: 5;
        font-family: 'Outfit', sans-serif;        
        margin-bottom: -3.5%;
        animation-name: move;
        animation-timing-function: cubic-bezier(0.03, 0, 0.01);
        animation-duration: 1.8s;
    }
    .main-contain span
    {
        width: 100%;
    }
    .toggle-btn img
    {
        position: fixed;
        right: 0;
        width: 40px;
        margin: 5%;
    }
    .nav
    {
        z-index: 6;
        width: 100vw;
        animation-name: appear;
        animation-duration: 1.8s;
        height: 100vh;
    }
    .nav.active
    {
        background-color: #f1efe9;
    }
    .links
    {
        text-decoration: none;
        color: #31337b;
    }
    .nav ol
    {
        width: 70vw;
        display: flex;
        text-align: left;
        justify-content: end;
        align-items: safe;
        height: 70vh;
        display: none;
    }
    .nav ol.active
    {
        display: flex;
        transform: translateY(10);
        line-height: 55px;
        animation-name: slide;
        animation-duration: 1.3s;
    }
    #list
    {
        z-index: -2;
        justify-content: center;
        vertical-align: middle;
    }
    #list.active
    {
        background-color: #dcdad3;
        padding-top: 12%;
        height: 200vh;
        margin-top: -60px;
        margin-left: -10px;
    }
    @keyframes slide
    {
        from
        {
            opacity: 0%;
            margin-left: 20vw;
        }
        to
        {
            opacity: 100%;
            margin-left: 0;
        }
    }
    .nav-link
    {
        z-index: 0;
        font-size: 25px;
    }
    .links
    {
        font-size: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 280px;
        height: 5%;
        margin-top: 25px;
    }
    .links a
    {
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .links a:hover
    {
        text-decoration: underline;
        text-decoration-color: #31337b;
    }
    .links a img
    {
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }
    .extra
    {
        width: 65vw;
    }
    .extra a
    {
        font-size: 20px;
    }
    .extra img
    {
        width: 27px;
        height: 27px
    }
}
@media only screen and (max-width: 900px) and (min-width: 522px)
{
    .main-contain strong
    {
        font-size: 58px;
    }
    .main-contain span
    {
        font-size: 30px;
    }
    .main-contain p
    {
        font-size: 22px;
    }
    .nav-link
    {
        margin-left: 10%;
        font-size: 40px;
    }
    .links
    {
        width: 75%;
        margin-left: 10%;
    }
    .nav ol
    {
        line-height: 100px;
    }
    .links a
    {
        font-size: 25px;
        margin-right: 5%;
    }
    .links a img
    {
        width: 25px;
        height: 25px;
    }
}
@media only screen and (max-width: 645px) and (min-width: 522px)
{
    .main-contain strong
    {
        font-size: 52px;
    }
    .main-contain span
    {
        font-size: 28px;
    }
    .links a
    {
        font-size: 20px;
        margin-right: 5%;
    }
    .links img
    {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width:639px)
{
    .about
    {
        font-size: 15px;
    }
    .extra
    {
        background-color: rgb(192, 205, 50);
        width: 80vw;
    }
    .extra a
    {
        background-color:yellowgreen;
        font-size: 16px;
    }
    .extra img
    {
        width: 18px;
        height: 18px;
    }
}
@media screen and (max-width:479px) {
    .main-contain p
    {
        word-spacing: 5px;
        margin-bottom: -25px;
        font-weight: normal;
        font-size: 15px;
    }
    .main-contain strong
    {
        font-weight:bold;
        z-index: 5;
        font-family: 'Outfit', sans-serif;
        font-size: 40px;
        margin-bottom: -3.5%;
    }
    .main-contain span
    {
        font-size: 20px;
    }
    .links a
    {
        font-size: 18px;
    }
    .links a img
    {
        width: 18px;
        height: 18px;
    }
    .extra
    {
        width: 80vw;
    }
    .extra a
    {
        font-size: 12px;
        margin-right: 10px;
    }
    .extra img
    {
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width:479px)
{
    .main-contain strong
    {
        font-size: 37px;
    }
    .main-contain span
    {
        font-size: 18px;
    }
}